<!--  WHY DO YOU THINK THIS STRATEGY WILL WORK -->
<div id="think-strategy">
  <h3 class="main-question">
    {{ currentNode.question.question }}
  </h3>
  <div class="content-c">
    {{ currentNode }}
    {{ currentNode.answers }}
    <div ng-repeat="answer in currentNode.answers">
      <button class="thought-button left-button">
        <div class="text">{{ answer.answer }}</div>
        <div ng-include="'<%= asset_path 'svgs/_thoughtBubble.html' %>'"></div>
      </button>
    </div>
    <button class="thought-button left-button">
      <div class="text">Works like a charm every time</div>
      <div ng-include="'<%= asset_path 'svgs/_thoughtBubble.html' %>'"></div>
    </button>
    <button class="thought-button center-button">
      <div class="text">I might have to  circle a few times, but it will eventually work</div>
      <div ng-include="'<%= asset_path 'svgs/_thoughtBubble.html' %>'"></div>
    </button>
    <button class="thought-button right-button">
      <div class="text">It’s always bad,  but it’s better than parking</div>
      <div ng-include="'<%= asset_path 'svgs/_thoughtBubble.html' %>'"></div>
    </button>

    <div class="thought-head">
      <div ng-include="'<%= asset_path 'svgs/_head.html' %>'"></div>
    </div>

    <button id="x-btn-next-though" class="next-thought-btn">
      Next
    </button>
  </div>
</div>
<!-- END WHY DO YOU THINK THIS STRATEGY WILL WORK -->
