<!-- LATE FLIGHT -->
  <div id="late-flight">
    <div class="content-c">
      <h3 class="main-question">{{ currentNode.question.question }}</h3>
      <p>How would you check for that?</p>

      <div ng-repeat="answer in currentNode.answers" ng-click="addAnswerToCurrentAnswers(answer)" class="dIB vAT button-c">
        <div ng-if="answer.answer.indexOf('mobile') > -1">
          <button class="select-btn call">
            <div ng-include="'<%= asset_path 'svgs/_call.html' %>'"></div>
            <div class="checkmark">
              <div ng-include="'<%= asset_path 'svgs/_sUnchecked.html' %>'"></div>
            </div>
          </button>
        </div>
        <div ng-if="answer.answer.indexOf('Park') > -1">
          <button class="select-btn parking">
            <div ng-include="'<%= asset_path 'svgs/_parkingTile.html' %>'"></div>
            <div class="checkmark">
              <div ng-include="'<%= asset_path 'svgs/_sUnchecked.html' %>'"></div>
            </div>
          </button>
        </div>
        <div ng-if="answer.answer.indexOf('reach') > -1">
          <button class="select-btn check-phone">
            <div ng-include="'<%= asset_path 'svgs/_checkPhone.html' %>'"></div>
            <div class="checkmark">
              <div ng-include="'<%= asset_path 'svgs/_sUnchecked.html' %>'"></div>
            </div>
          </button>
        </div>
        <div>
          {{ answer.answer }}
        </div>
      </div>

      <div>
        <button id="x-btn-late-flight-next" class="late-flight-next-btn plane-advance" ng-click="submit(null, true)">Next</button>
      </div>

    </div>
  </div>
  <!-- END LATE FLIGHT -->
