<!-- LATE FLIGHT -->
  <div id="late-flight">
    <div class="content-c">
      <h3 class="main-question">You think your passenger's flight could be late.</h3>
      <p>How would you check for that?</p>
      
      <div class="dIB vAT button-c">
        <button class="select-btn call">
          <div ng-include="'<%= asset_path 'svgs/_call.html' %>'"></div>
          <div class="checkmark">
            <div ng-include="'<%= asset_path 'svgs/_sUnchecked.html' %>'"></div>
          </div>
        </button>
        <div>
          Try to Reach Passenger
        </div>
      </div>

      <div class="dIB vAT button-c">
        <button class="select-btn parking">
          <div ng-include="'<%= asset_path 'svgs/_parkingTile.html' %>'"></div>
          <div class="checkmark">
            <div ng-include="'<%= asset_path 'svgs/_sUnchecked.html' %>'"></div>
          </div>
        </button>
        <div>
          Park and go Inside Terminal
        </div>
      </div>

      <div class="dIB vAT button-c">
        <button class="select-btn check-phone">
          <div ng-include="'<%= asset_path 'svgs/_checkPhone.html' %>'"></div>
          <div class="checkmark">
            <div ng-include="'<%= asset_path 'svgs/_sUnchecked.html' %>'"></div>
          </div>
        </button>
        <div>
          Check Mobile Phone for Flight Information
        </div>
      </div>

      <div>
        <button id="x-btn-late-flight-next" class="late-flight-next-btn">Next</button>
      </div>

    </div>
  </div>
  <!-- END LATE FLIGHT -->