 <!-- Why do you choose to park your car? -->
  <div id="why-park-car">
  <!-- <div id="why-park-car"> -->

    <div class="row" style="text-align:center">
      <h3 class="main-question">Why do you choose to park your car?</h3>
      <h6 class="sub-header">(Select all that apply)</h6>
    </div>

    <div class="row">

      <div class="large-3 medium-3 small-6 columns">
        
        <div class="unchecked">
          <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
        </div>

        <div class="parking-bbl">
          <div class="bbl-icon">
            <div ng-include="'<%= asset_path 'svgs/_carParkBubble.html' %>'"></div>
          </div>
          <div class="bbl-title">
            When convenient parking is available
          </div>
        </div>
      </div>


      <div class="large-3 medium-3 small-6 columns">

                <div class="unchecked">
                  <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
          </div>
        <div class="parking-bbl">

          <div class="bbl-icon">
            <div ng-include="'<%= asset_path 'svgs/_avoidTraffic.html' %>'"></div>
          </div>
          <div class="bbl-title">
            To avoid driving in traffic
          </div>
        </div>
      </div>


      <!-- these two containers are hidden on small screens -->
      <div class="hide-for-small-only">


        <div class="large-3 medium-3 small-6 columns">

          <div class="unchecked">
            <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
          </div>

          <div class="parking-bbl">
            <div class="bbl-icon">
              <div ng-include="'<%= asset_path 'svgs/_peopleParkBubble.html' %>'"></div>
            </div>
            <div class="bbl-title">
              To meet my passenger in the terminal
            </div>
          </div>
        </div>

        <div class="large-3 medium-3 small-6 columns">


          <div class="unchecked">
            <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
          </div>

          <div class="parking-bbl other-bbl">

            <div class="bbl-icon">
              <div ng-include="'<%= asset_path 'svgs/_questionBubble.html' %>'"></div>
            </div>
            
            <div class="row">
              <div class="bbl-title">
                Other (specify)
              </div>
            </div>
            
            <!-- unique id for this text area -->
            <div class="row" style="padding-top: 50px">
              <textarea id="park-bbl" cols="30" rows="5" maxlength="140"></textarea>
              <div class="text-counter"></div>
            </div>
            <!-- end -->
            

            <div class="row">
              <div class="ok-btn">
                Ok
              </div>
            </div>

          </div>
          <div class="row">
            <div class="park-btn-next">
              Next
            </div>
          </div>
        </div>

      </div>


    </div>
    <!-- end -->

    <!-- these two containers are shown on small screens only -->
    <div class="show-for-small-only">



      <div class="large-3 medium-3 small-6 columns">

          <div class="unchecked">
            <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
          </div>

          <div class="parking-bbl">
            <div class="bbl-icon">
              <div ng-include="'<%= asset_path 'svgs/_peopleParkBubble'%>'"></div>
            </div>
            <div class="bbl-title">
              To meet my passenger in the terminal
            </div>
          </div>
        </div>

        <div class="large-3 medium-3 small-6 columns">


          <div class="unchecked">
            <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
          </div>

          <div class="parking-bbl other-bbl">

            <div class="bbl-icon">
              <div ng-include="'<%= asset_path 'svgs/_questionBubble.html' %>'"></div>
            </div>
            
            <div class="row">
              <div class="bbl-title">
                Other (specify)
              </div>
            </div>
            
            <!-- unique id for this text area -->
            <div class="row" style="padding-top: 50px">
              <textarea id="park-bbl-small" cols="30" rows="5" maxlength="140"></textarea>
              <div class="text-counter"></div>
            </div>
            <!-- end -->
            

            <div class="row">
              <div class="ok-btn">
                Ok
              </div>
            </div>

          </div>
          <div class="row">
            <div class="park-btn-next">
              Next
            </div>
          </div>
        </div>

      </div>



    </div>
    <!-- end -->

  </div>
  <!-- END TODO: 5. Why do you choose to park your car? -->
  <% if false %>
<div id="why-park-car">
  <div class="row" style="text-align:center">
    <h3 class="main-question">{{ currentNode.question.question }}</h3>
    <h3 class="main-question">Why do you choose to park your car?</h3>
  </div>
  {{ currentAnswers }}
  <div class="hide-for-small-only">
    <div ng-click="addMultipleChoice(answer)" ng-repeat="answer in currentNode.answers" class="row" style="padding: 0 10px 0 10px; margin-top: 5%">
      <div class="large-3 medium-3 columns">
        <div class="parking-bubble" ng-class="{parking-bubble-other: answer.answer.indexOf('other') > -1}">
          <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
            <div ng-include="'<%= asset_path 'svgs/_unchecked.html' %>'"></div>
          </div>
          <div class="bubble-logo">
            <div ng-if="answer.answer.indexOf('convenient') > -1" ng-include="'<%= asset_path 'svgs/_carParkBubble.html' %>'"></div>
            <div ng-if="answer.answer.indexOf('avoid') > -1" ng-include="'<%= asset_path 'svgs/_avoidTraffic.html' %>'"></div>
            <div ng-if="answer.answer.indexOf('terminal') > -1" ng-include="'<%= asset_path 'svgs/_peopleParkBubble.html' %>'"></div>
            <div ng-if="answer.answer.indexOf('other') > -1" ng-include="'<%= asset_path 'svgs/_questionBubble.html' %>'"></div>
          </div>
          <div class="parking-question-font" data-car="uncolored">
            {{ answer.answer }}
            <!-- When convenient parking is available -->
          </div>
          <div ng-if="answer.answer.indexOf('other') > -1">
            <div class="parking-other-text-area" style="display: none; position: relative; top: 30%; position: relative; z-index: 20">
              <textarea id="other-info" cols="1" rows="5" maxlength="140"></textarea>
            </div>
            <br>
            <div id="char-count" style="display: none; position: absolute; margin-left: 15%; text-align:center; color: #B2C4D4; font-size: 12px; width: 90%; margin-left: auto; margin-right: auto"></div>
            <div class="parking-ok-btn">OK</div>
          </div> <!-- end ng-if for other -->
        </div>
      </div>
      <!--
      <div class="large-3 medium-3 columns" style="text-align: center">
        <div class="parking-bubble parking-bubble-other">
          <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
            <div ng-include="'<%= asset_path 'svgs/_unchecked.html' %>'"></div>
          </div>
          <div class="parking-question-other-font" data-other="uncolored">
            <div class="other-icon" style="width: 30%; text-align: center; margin-left: auto; margin-right: auto">
              <div ng-include="'<%= asset_path 'svgs/_questionBubble.html' %>'"></div>
            </div>
            Other (specify)
          </div>
          <div class="parking-other-text-area" style="display: none; position: relative; top: 30%; position: relative; z-index: 20">
            <textarea id="other-info" cols="1" rows="5" maxlength="140"></textarea>
          </div>
          <br>
          <div id="char-count" style="display: none; position: absolute; margin-left: 15%; text-align:center; color: #B2C4D4; font-size: 12px; width: 90%; margin-left: auto; margin-right: auto"></div>
          
          <div class="parking-ok-btn">OK</div>
      -->
        </div>
        <div class="next" id="why-park" style="display:none; margin-left: 25%; position: absolute; text-align: center">Next</div>
      </div>

    </div>
  </div>

  <div class="show-for-small-only">
    <div class="row" style="padding: 0 20px 0 20px">
      <div class="small-6 columns" style="padding: 0 2% 0 3%">
        <div class="parking-bubble">
          <div class="unchecked" style="position: absolute; right: 5px; top: -10%">
            <div ng-include="'<%= asset_path 'svgs/_unchecked.html' %>'"></div>
          </div>
          <div class="bubble-logo" class="bubble-logo">
            <div ng-include="'<%= asset_path 'svgs/_carParkBubble.html' %>'"></div>
            <div style="width: "></div>
          </div>
          <div class="parking-question-font" data-state="uncolored">
            Convenient parking available
          </div>
        </div>
      </div>
      <div class="small-6 columns" style="padding: 0 3% 0 2%">
        <div class="parking-bubble">
          <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
            <div ng-include="'<%= asset_path 'svgs/_unchecked.html' %>'"></div>
          </div>
          <div  class="bubble-logo">
            <div ng-include="'<%= asset_path 'svgs/_avoidTraffic.html' %>'"></div>
          </div>
          <div class="parking-question-font" data-state="uncolored">
            Convenient parking available
          </div>
        </div>
      </div>
    </div>
    <div class="row" style=" margin-top: 10%; padding: 0 20px 0 20px">
      <div class="small-6 columns" style="padding: 0 2% 0 3%">
        <div class="parking-bubble">
          <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
            <div ng-include="'<%= asset_path 'svgs/_unchecked.html' %>'"></div>
          </div>
          <div class="bubble-logo">
            <div ng-include="'<%= asset_path 'svgs/_peopleParkBubble.html' %>'"></div>
          </div>
          <div class="parking-question-font" data-state="uncolored">
            Convenient parking available
          </div>
        </div>
      </div>
      <div class="small-6 columns" style="padding: 0 3% 0 2%; text-align: center">
        <div class="parking-bubble parking-bubble-other">
          <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
            <div ng-include="'<%= asset_path 'svgs/_unchecked.html' %>'"></div>
          </div>
          <div class="parking-question-other-font" data-other="uncolored">
            Other (specify)
          </div>
          <div class="parking-other-text-area" style="display: none; position: relative; top: 30%; margin-bottom: 20px">
            <textarea id="other-info" cols="1" rows="5" maxlength="140"></textarea>
          </div>
          <br>
          <div id="char-count" style="position: absolute; margin-left: auto; margin-right: auto; text-align:center; color: #B2C4D4; font-size: 12px; width: 90%"></div>
          <div class="parking-submit">
            <div class="parking-submit-btn" style="display:none">OK</div>
          </div>
        </div>
        <div class="next" id="why-park" style="display:none">Next</div>
      </div>
      
    </div>
  </div>
</div>
<% end %>
  <!-- END Why do you choose to park your car? -->
