  <!-- 7. TILE QUESTIONS -->
  <div id="tile-questions">

    {{ currentAnswers }}
    <div class="row">
    <h3 class="main-question" id="main-landscape">{{ currentNode.question.question }}</h3>
      <h5 class="sub-header">Select all that apply</h5>
    </div>

    <div class="row">

      <div ng-repeat="answer in currentNode.answers">
        <div class="large-3 medium-3 small-6 columns">
          <div class="row">
            <div class="tile-bbl">
              <div class="tile-checkmark">
              <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"%></div>
              </div>

              <div ng-if="answer.answer.indexOf('phone') > -1" ng-include="'<%= asset_path 'svgs/_phone.html' %>'" class="tile"></div>
              <div ng-if="answer.answer.indexOf('shop') > -1" ng-include="'<%= asset_path 'svgs/_shop.html' %>'" class="tile"></div>
              <div ng-if="answer.answer.indexOf('Hang') > -1" ng-include="'<%= asset_path 'svgs/_hangout.html' %>'" class="tile"></div>
              <div ng-if="answer.answer.indexOf('Eat') > -1" ng-include="'<%= asset_path 'svgs/_eat.html' %>'" class="tile"></div>
              <div class="tile"><div ng-include="'<%= asset_path 'svgs/_phone.html' %>'"%></div></div>
            </div>
          </div>
          <div class="row">
            <div class="tile-title">
              {{ answer.answer }}
            </div>
          </div>
        </div>
      </div>

      <!--
        <div class="large-3 medium-3 small-6 columns">
          <div class="row">
            <div class="tile-bbl">
              <div class="tile-checkmark">
              <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"%></div>
              </div>
              <div class="tile"><div ng-include="'<%= asset_path 'svgs/_shop.html' %>'"%></div></div>
            </div>
          </div>
          <div class="row">
            <div class="tile-title">
              Shop in the terminal
            </div>
          </div>
        </div>

        <div class="large-3 medium-3 small-6 columns">
          <div class="row">
            <div class="tile-bbl">
              <div class="tile-checkmark">
              <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"%></div>
              </div>
              <div class="tile"><div ng-include="'<%= asset_path 'svgs/_hangout.html' %>'"%></div></div>
            </div>
          </div>
          <div class="row">
            <div class="tile-title">
              Hang out
            </div>
          </div>
        </div>

        <div class="large-3 medium-3 small-6 columns">
          <div class="row">
            <div class="tile-bbl">
              <div class="tile-checkmark">
              <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"%></div>
              </div>
              <div class="tile"><div ng-include="'<%= asset_path 'svgs/_eat.html' %>'"%></div></div>
            </div>
          </div>
          <div class="row">
            <div class="tile-title">
              Eat or drink
            </div>
          </div>
        </div>
        -->

    </div>

    <div class="row">
      <div class="tile-next">
        Next
      </div>
    </div>

  </div>
  <!-- END TILE QUESTIONS -->
