  <div id="tile-questions">
    <div class="row">
      <h3 class="main-question" id="main-landscape">What are you doing while you wait?</h3>
      <h5 class="sub-header">Select all that apply</h5>
    </div>
    <div class="row">

      <div class="large-4 medium-6 small-6 columns">
        <div class="row">
          <div class="tile-bbl">
            <div class="tile-checkmark">
              <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
            </div>
            <div class="tile"><div ng-include="'<%= asset_path 'svgs/_phone.html' %>'"></div></div>
          </div>
        </div>
        <div class="row">
          <div class="tile-title">
            On my phone
          </div>
        </div>
      </div>

      <div class="large-4 medium-6 small-6 columns">
        <div class="row">
          <div class="tile-bbl">
            <div class="tile-checkmark">
              <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
            </div>
            <div class="tile"><div ng-include="'<%= asset_path 'svgs/_shop.html' %>'"></div></div>
          </div>
        </div>
        <div class="row">
          <div class="tile-title">
            Shop in the terminal
          </div>
        </div>
      </div>

      <div class="show-for-large-only">
        <div class="large-4 medium-6 small-6 columns">
          <div class="row">
            <div class="tile-bbl">
              <div class="tile-checkmark">
                <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
              </div>
              <div class="tile"><div ng-include="'<%= asset_path 'svgs/_hangout.html' %>'"></div></div>
            </div>
          </div>
          <div class="row">
            <div class="tile-title">
              Hang out
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="large-4 medium-6 small-6 columns">
        <div class="row">
          <div class="tile-bbl">
            <div class="tile-checkmark">
              <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
            </div>
            <div class="tile"><div ng-include="'<%= asset_path 'svgs/_eat.html' %>'"></div></div>
          </div>
        </div>
        <div class="row">
          <div class="tile-title">
            Eat or drink
          </div>
        </div>
      </div>

      <div class="large-4 medium-6 small-6 columns">
        <div class="row">
          <div class="tile-bbl">
            <div class="tile-checkmark">
              <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"></div>
            </div>
            <div class="tile"><div ng-include="'<%= asset_path 'svgs/_other.html' %>'"></div></div>
          </div>
        </div>
        <div class="row">
          <div class="tile-title">
            Other (Specify)
          </div>
        </div>
      </div>
      <!-- text area -->
      <div class="show-for-large-only">
        <div class="large-4 medium-6 small-6 columns">
          <div class="other-text-bbl">
            
          </div>
        </div>
      </div>
      <!-- end text area -->
    </div>
  </div>
