<!-- 7. TILE QUESTIONS -->
<div id="tile-questions">
  <h3 class="main-question" id="main-landscape">{{ currentNode.question.question }}</h3>
  <h5 class="sub-header">Select all that apply</h5>

  <div class="row bbl-ctnr">
    <div ng-repeat="answer in currentNode.answers">
      <div class="large-3 medium-3 small-6 columns">
        <div class="row">
          <div class="tile-bbl">
            <div class="tile-checkmark">
              <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"%></div>
            </div>
            <div 
              ng-click="addAnswerToCurrentAnswers(answer)" 
              ng-if="matchAnswerString(answer, 'car')" 
              ng-include="'<%= asset_path 'svgs/_phone.html' %>'" 
              class="tile">
            </div>
            <div 
              ng-click="addAnswerToCurrentAnswers(answer)" 
              ng-if="matchAnswerString(answer, 'Shop')" 
              ng-include="'<%= asset_path 'svgs/_shop.html' %>'" 
              class="tile">
            </div>
            <div 
              ng-click="addAnswerToCurrentAnswers(answer)" 
              ng-if="matchAnswerString(answer, 'Waiting') && matchAnswerString(answer, 'terminal')" ng-include="'<%= asset_path 'svgs/_hangout.html' %>'" 
              class="tile">
            </div>
            <div 
              ng-click="addAnswerToCurrentAnswers(answer)" 
              ng-if="matchAnswerString(answer, 'Getting')" 
              ng-include="'<%= asset_path 'svgs/_eat.html' %>'" 
              class="tile">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="tile-title">
            {{ answer.answer }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-ctnr">
    <button ng-click="submit(null, true)" class="tile-next plane-advance">
      NEXT
    </button>
  </div>
<!--   <div class="btn-row">
    <button ng-click="submit(null, true)" class="tile-next plane-advance">
      NEXT
    </button>
  </div> -->
</div>

<!-- END TILE QUESTIONS -->
