<!-- 7. TILE QUESTIONS -->
<div id="tile-questions">
  <h3 class="main-question">{{ currentNode.question.question }}</h3>
  <h5 class="sub-header">Select all that apply</h5>
  <div class="tile-ctnr">
    <div 
      class="tile"
      ng-repeat="answer in currentNode.answers"
      ng-click="addAnswerToCurrentAnswers(answer) | orderBy:'custom_order'" 

      ng-class="{
        'tile-1' : $index === 0,
        'tile-2' : $index === 1,
        'tile-3' : $index === 2,
        'tile-4' : $index === 3
    }">
      <div class="checkmark-ctnr">
        <div ng-include="'<%= asset_path 'svgs/_bblCheck.html' %>'"%></div>
      </div>
      <div ng-if="$index === 0">
        <div ng-include="'<%= asset_path 'svgs/_phone.html' %>'"></div>
      </div>
      <div ng-if="$index === 1">
        <div ng-include="'<%= asset_path 'svgs/_hangout.html' %>'"></div>
      </div>
      <div ng-if="$index === 2">
        <div ng-include="'<%= asset_path 'svgs/_shop.html' %>'"></div>
      </div>
      <div ng-if="$index === 3">
        <div ng-include="'<%= asset_path 'svgs/_eat.html' %>'"></div>
      </div>
      <div class="title">
        {{ answer.answer }}
      </div>
    </div>
  </div>
  <div class="btn-row">
    <button ng-click="submit(null, true)" class="tile-next plane-advance">
      NEXT
    </button>
  </div>
</div>

<!-- END TILE QUESTIONS -->
