<!-- remove style for final template -->
<div id="interactive-map">
  <h3 class="main-question">{{ currentNode.decision_point.situation }}</h3>
  <div class="bottom-half">
    <div style="display: inline-block; position: relative;" class="map-container-inside">
      <div class="instructions">
        <div class="path-message showing">Pick a strategy!</div>
        <div ng-repeat="decision in currentNode.decisions">
          <div ng-if="decision.decision.indexOf('circling') > -1">
            <div class="path-yellow path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div>{{ decision.decision }}</div>
            </div>
          </div>
          <div ng-if="decision.decision.indexOf('meet') > -1">
            <div class="path-green path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div>{{ decision.decision }}</div>
            </div>
          </div>
          <div ng-if="decision.decision.indexOf('ready') > -1">
            <div class="path-orange path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div>{{ decision.decision }}</div>
            </div>
          </div>
          <div ng-if="decision.decision.indexOf('tram') > -1">
            <div class="path-blue path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div>{{ decision.decision }}</div>
            </div>
          </div>
        </div><!-- end angular iterator for instructions -->

        <button ng-click="submit(currentDecision.id, true)" id="x-btn-confirm-map-choice" class="plane-advance confirm-map-choice-btn">
          GO!
        </button>
      </div>

      <div ng-repeat="decision in currentNode.decisions">
        <div ng-if="decision.decision.indexOf('Default') > -1">
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path all">
            <%= image_tag('map_all-06.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('circling') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="yellow">
            <div ng-include="'<%= asset_path 'svgs/_mapArrow.html' %>'"></div>
            <span ng-include="'<%= asset_path 'svgs/_racetrack.html' %>'" class="path-letter"></span>
          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path yellow">
            <%= image_tag('map_yellow-06.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('Park') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="green">
            <div ng-include="'<%= asset_path 'svgs/_mapArrow.html' %>'"></div>
            <span ng-include="'<%= asset_path 'svgs/_parking.html' %>'" class="path-letter"></span>
          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path green">
            <%= image_tag('map_green-06.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('ready') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="orange">
            <div ng-include="'<%= asset_path 'svgs/_mapArrow.html' %>'"></div>
            <span ng-include="'<%= asset_path 'svgs/_burger.html' %>'" class="path-letter"></span>
          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path orange">
            <%= image_tag('map_orange-06.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('tram') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision); landPlane()" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="blue">
            <div ng-include="'<%= asset_path 'svgs/_mapArrow.html' %>'"></div>
            <span ng-include="'<%= asset_path 'svgs/itfIcon.html' %>'" class="path-letter"></span>
          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path blue">
            <%= image_tag('map_blue-06.jpg', width: '100%') %>
          </div>
        </div>
      </div> <!-- end angular iterator for images -->
      <div class="tram">
        <div ng-include="'<%= asset_path 'svgs/_gpsTram.html' %>'"></div>
      </div>
    </div>
  </div>
</div>
