<%
=begin
%>
<!-- remove style for final template -->
<div id="interactive-map">
  <div class="top-half">
    <h3>{{ currentNode.decision_point.situation }}</h3>
  </div>
  <div class="bottom-half">
    <div style="display: inline-block; position: relative;">
      <div class="instructions">
        <div class="path-message showing">Choose a letter to select an approach</div>
        <div ng-repeat="decision in currentNode.decisions">
          <div ng-if="decision.decision.indexOf('catch') > -1">
            <div class="path-yellow path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div class="dIB vAM">{{ decision.decision }}</div>
              <div class="dIB vAM">
                <div class="dIB vAM double">
                  <div ng-include="'<%= asset_path 'svgs/_gpsRefresh.html' %>'"></div>
                </div>
                <div class="dIB vAM double">
                  <div ng-include="'<%= asset_path 'svgs/_gpsCar.html' %>'"></div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="decision.decision.indexOf('structure') > -1">
            <div class="path-green path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div class="dIB vAM">{{ decision.decision }}</div>
              <div class="dIB vAM icon">
                  <div ng-include="'<%= asset_path 'svgs/_parking.html' %>'"></div>
              </div>
            </div>
          </div>
          <div ng-if="decision.decision.indexOf('ready') > -1">
            <div class="path-orange path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div class="dIB vAM">{{ decision.decision }}</div>
              <div class="dIB vAM">
                <div class="dIB vAM double">
                  <div ng-include="'<%= asset_path 'svgs/_gpsEats.html' %>'"></div>
                </div>
                <div class="dIB vAM double">
                  <div ng-include="'<%= asset_path 'svgs/_gpsBag.html' %>'"></div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="decision.decision.indexOf('train') > -1">
            <div class="path-blue path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div class="dIB vAM">{{ decision.decision }}</div>
              <div class="dIB vAM">
                <div class="dIB vAM double">
                  <div ng-include="'<%= asset_path 'svgs/_gpsTrain.html' %>'"></div>
                </div>
                <div class="dIB vAM double">
                  <div ng-include="'<%= asset_path 'svgs/_gpsHandicapable.html' %>'"></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end angular iterator for instructions -->

        <button ng-click="submit(currentDecision.id, true)" id="x-btn-confirm-map-choice" class="confirm-map-choice-btn show plane-advance">
          CONFIRM
        </button>
      </div>

      <div ng-repeat="decision in currentNode.decisions">
        <div ng-if="decision.decision.indexOf('catch') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="yellow">

          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path yellow">
            <%= image_tag('map_yellow.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('structure') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="green">

          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path green">
            <%= image_tag('map_green.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('ready') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="orange">

          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path orange">
            <%= image_tag('map_orange.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('train') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="blue">

          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path blue">
            <%= image_tag('map_blue.jpg', width: '100%') %>
          </div>
        </div>
      </div> <!-- end angular iterator for images -->
      <div class="tram">
        <div ng-include="'<%= asset_path 'svgs/_gpsTram.html' %>'"></div>
      </div>
    </div>
  </div>
</div>
<%
=end
%>
<!-- remove style for final template -->
<div id="interactive-map">
  <div class="top-half">
    <h3 class="main-question">{{ currentNode.decision_point.situation }}</h3>
  </div>
  <div class="bottom-half">
    <div style="display: inline-block; position: relative;" class="map-container-inside">
      <div class="instructions">
        <div class="path-message showing">Pick your path!</div>
        <div ng-repeat="decision in currentNode.decisions">
          <div ng-if="decision.decision.indexOf('catch') > -1">
            <div class="path-yellow path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div>{{ decision.decision }}</div>
            </div>
          </div>
          <div ng-if="decision.decision.indexOf('structure') > -1">
            <div class="path-green path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div>{{ decision.decision }}</div>
            </div>
          </div>
          <div ng-if="decision.decision.indexOf('ready') > -1">
            <div class="path-orange path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div>{{ decision.decision }}</div>
            </div>
          </div>
          <div ng-if="decision.decision.indexOf('train') > -1">
            <div class="path-blue path-message btcf" ng-class="{showing: thisDecisionIsSelected(decision)}">
              <div>{{ decision.decision }}</div>
            </div>
          </div>
        </div><!-- end angular iterator for instructions -->

        <button ng-click="submit(currentDecision.id, true)" id="x-btn-confirm-map-choice" class="plane-advance confirm-map-choice-btn">
          GO!
        </button>
      </div>

      <div ng-repeat="decision in currentNode.decisions">
        <div ng-if="decision.decision.indexOf('Default') > -1">
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path all">
            <%= image_tag('map_all-04.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('catch') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="yellow">
            <div ng-include="'<%= asset_path 'svgs/_mapArrow.html' %>'"></div>
            <span ng-include="'<%= asset_path 'svgs/_racetrack.html' %>'" class="path-letter"></span>
          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path yellow">
            <%= image_tag('map_yellow-04.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('structure') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="green">
            <div ng-include="'<%= asset_path 'svgs/_mapArrow.html' %>'"></div>
            <span ng-include="'<%= asset_path 'svgs/_parking.html' %>'" class="path-letter"></span>
          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path green">
            <%= image_tag('map_green-04.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('ready') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision)" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="orange">
            <div ng-include="'<%= asset_path 'svgs/_mapArrow.html' %>'"></div>
            <span ng-include="'<%= asset_path 'svgs/_burger.html' %>'" class="path-letter"></span>
          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path orange">
            <%= image_tag('map_orange-04.jpg', width: '100%') %>
          </div>
        </div>

        <div ng-if="decision.decision.indexOf('train') > -1">
          <a ng-class="{selected: thisDecisionIsSelected(decision)}" ng-click="setCurrentDecisionNoSubmit(decision); landPlane()" href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="blue">
            <div ng-include="'<%= asset_path 'svgs/_mapArrow.html' %>'"></div>
            <span ng-include="'<%= asset_path 'svgs/_newTram.html' %>'" class="path-letter"></span>
          </a>
          <div ng-class="{selected: thisDecisionIsSelected(decision)}" class="map-path blue">
            <%= image_tag('map_blue-04.jpg', width: '100%') %>
          </div>
        </div>
      </div> <!-- end angular iterator for images -->
      <div class="tram">
        <div ng-include="'<%= asset_path 'svgs/_gpsTram.html' %>'"></div>
      </div>
    </div>
  </div>
</div>