<!-- CONGRATULATIONS! -->
<div id="congrats">
  <div class="row" style="text-align: center;">
    <!-- <h3 style="color: white">Congratulations!</h3> -->
    <div class="inner-c">
      <div class="trophy-c">
        <div ng-include="'<%= asset_path 'svgs/_laxTrophy.html' %>'"></div>
      </div>
    </div>
    <div class="inner-c">
      <h3>Congratulations!</h3>

      <h4>You are now an official LAX pick-up artist!</h4>

      <p>
        If you want to keep in touch with our progress towards the new location, please join our mailing list or visit us at
      </p>

      <a href="http://connectinglax.com" target="_blank">connectinglax.com</a>

      <button class="share-story-btn" id="x-btn-share-story">
        <span class="" style="height: 25px; width: 25px; display: inline-block; vertical-align: middle;" ng-include="'<%= asset_path 'svgs/_congratsStoryBubble.html' %>'"></span> <span>Have a story you want to share?</span>
      </button>

      <div>
        <button ng-click="restart()" class="replay-btn emergency-next" id="x-btn-replay">
          <span class="" style="display: inline-block; vertical-align: middle; height: 20px; width: 20px;" ng-include="'<%= asset_path 'svgs/_congratsReplay.html' %>'">
          </span>
          <span>Replay</span>
        </button>

        <button class="share-btn" id="x-btn-share">
          <span style="display: inline-block; vertical-align: middle; height: 20px; width: 20px;" ng-include="'<%= asset_path 'svgs/_congratsShare.html' %>'">
          </span>
          <span>Share</span>
        </button>
      </div>
    </div>

  </div>
</div>



<div id="share-story-overlay">
  <div class="inner">
    <div class="top-section">
      <div class="icon-c" style="height: 25px; width: 25px; display: inline-block; vertical-align: middle;" ng-include="'<%= asset_path 'svgs/_congratsStoryBubble.html' %>'">
      </div>
      <div class="title-text-c">Tell us about your best or worst experience. Anything goes.</div>
      <div class="close-btn-c">
        <button id="x-btn-close-story-overlay" class="close-story-overlay-btn">x</button>
      </div>
    </div>
    <div>
      <textarea id="story-text" placeholder="Write your story here"></textarea>
    </div>
    <div>
      <button id="x-btn-submit-story" class="submit-story-btn">SEND</button>
    </div>
  </div>
</div>


<div id="congrats-share-overlay">
  <div class="inner">
    <div class="top-section">
      <div class="title-text-c">
        Share your pickup skills
      </div>
      <div class="close-btn-c">
        <button id="x-btn-close-share-overlay" class="close-share-overlay-btn">x</button>
      </div>
    </div>

    <div class="share-url">
      http://dfdsfgsdfgdfgsdfg.com/asdfsdfsdf
    </div>

    <div class="share-btns-c btcf">
      <div class="row">
        <div class="large-6 medium-6 small-6 columns">
          <div class="share-btn"></div>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <div class="share-btn"></div>
        </div>
      </div>
      <!-- <button id="x-btn-twitter-share" class="twitter-share-btn">Share on Twitter</button>
      <button id="x-btn-facebook-share" class="facebook-share-btn">Share on Facebook</button> -->
    </div>
  </div>
</div>
<!-- END CONGRATULATIONS -->
