<div class="skip" ng-click="submit()" ng-include="'<%= asset_path 'svgs/_skipbutton.html' %>'"></div>
<!-- STRATEGY questions -->
<div id="strategy-questions">

  <div class="row" style="text-align: center;">
    <h3 class="main-question">Why do you choose this strategy?</h3>
    <h5 class="sub-header">Select all that apply</h5>
  </div>


  <!-- large screen view -->
  <div id="large-strategy">
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <div class="row">
          <div class="large-4 medium-4 small-4 columns">
            <div class="bubble-icon-container" id="container-1">
              <div ng-include="'<%= asset_path 'svgs/_strategyStopWatch' %>'"></div>
              <div class="strategy-answer" id="stopwatch-answer">
                To get in and out of the airport as quickly as possible
              </div>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="bubble-icon-container" id="container-2">
              <div ng-include="'<%= asset_path 'svgs/_grayParking' %>'"></div>
              <div class="strategy-answer" id="parking-answer">
                To avoid paying for parking
              </div>
            </div>
            <div class="next emergency-next" id="strategy-large-temp" style="z-index: 10;">Next</div>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="bubble-icon-container" id="container-3">
              <div ng-include="'<%= asset_path 'svgs/_hassle' %>'"></div>
              <div class="strategy-answer" id="hassle-answer">
                To minimize the hassle for me
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 40px;">
      <div class="large-12 medium-12 small-12 columns">
        <div class="row">
          <div class="large-3 medium-3 small-3 columns">
            <div class="bubble-icon-container" id="container-4">
              <div ng-include="'<%= asset_path 'svgs/_guy' %>'"></div>
              <div class="strategy-answer" id="guy-answer" style="margin-top: -10px">
                To make it convenient for my passengers
              </div>
            </div>
          </div>
          <div class="large-6 medium-6 columns">
            <div id="boxter-cntnr">
              <div ng-include="'<%= asset_path 'svgs/_boxster' %>'"></div>
            </div>
          </div>
          <div class="large-3 medium-3 small-3 columns">

            <div class="bubble-icon-container" id="container-5">
              <div ng-include="'<%= asset_path 'svgs/_strategyOther' %>'"></div>
              <div class="strategy-answer" id="other-strategy-answer">
                Other (Explain)
              </div>
            </div>

            <!-- other text container -->
            <div id="strategy-other-container">
              <div id="container-positioner">
                <div id="text-container-filler"></div>
                <div id="text-container">
                  <div id="other-strategy-buttons">
                    <div class="row" id="slide-content" style="display: none">
                      <div class="large-3 medium-3 small-3 columns">
                        <div class="save-large" style="margin-top: 15px; text-align: center; color: white; background-color: #F25053; padding: 5%; margin-left: 25px; margin-right: 15px; font-size: 1.5vw; border-radius: 5px">
                          Save
                        </div>

                        <div class="cancel-large" style="margin-top: 15px; text-align: center; color: white; background-color: #C1C1C1; padding: 5%; margin-left: 25px; margin-right: 15px; font-size: 1.5vw; border-radius: 5px">
                          Cancel
                        </div>

                        <div id="char-count-strategy" style="text-align:center; color: #C1C1C1; font-size: 12px; margin-left: 8%"></div>
                      </div>
                      <div class="large-7 medium-7 columns">
                        <textarea class="other-strategy" placeholder="Please write here." cols="1" rows="6" maxlength="140" style="margin-top: 3%; background-color: #F0943F; color: white; postion: absolute; left: 40px; top: 20px"></textarea>
                      </div>
                      <div class="large-2 medium-2 small-2 columns"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end other text container -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- large screen view -->











  <!-- small screen view -->
  <div id="small-strategy">
    <div class="row">
      <div id="main-ctnr">
        <div class="medium-11 small-11 medium-centered small-centered columns">

          <div class="row" style="margin-bottom: 5%">
            <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
              <div class="bubble-container-small" id="passenger">
                <div class="check-ctnr" style="position: absolute; z-index: 5; right: 0; top: -5%">
                  <div ng-include="'<%= asset_path 'svgs/_sUnchecked'%>'"></div>
                </div>
                <div class="row" style="padding-top: 5px">
                  <div class="small-5 small-centered columns">
                    <div class="logo-cntr" style="position: absolute; left:0">
                      <div ng-include="'<%= asset_path 'svgs/_sPassenger' %>'"></div>
                    </div> 
                  </div>
                </div>
                <div style="position:absolute; width: 100%; margin-top: 65%; left:0;">
                   <div class="row">
                    <div class="small-11 small-centered columns">
                      <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                        To make it convienient for my passengers
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px; text-align: center">
                <div class="bubble-container-small" id="stop-watch">
                  <div class="check-ctnr" style="position: absolute; z-index: 5; right: -5% ; top: -5%">
                    <div ng-include="'<%= asset_path 'svgs/_sUnchecked'%>'"></div>
                  </div>
                  <div class="row" >
                    <div class="small-5 small-centered columns">
                      <div class="logo-cntr" style="position: absolute; left:0">
                        <div ng-include="'<%= asset_path 'svgs/_sStopWatch' %>'"></div>
                      </div> 
                    </div>
                  </div>
                  <div style="position:absolute; width: 100%; margin-top: 75%; left:0;">
                    <div class="row">
                      <div class="small-11 small-centered columns">
                        <div class="strategy-answer" style="font-size: 2.6vw;">
                          To get in and out of the airport as quickly as possible
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="boxster-ctnr">
                  <div ng-include="'<%= asset_path 'svgs/_boxster' %>'"></div>
                </div>

                <div class="next emergency-next" id="strategy-small-temp" style="display: none; z-index: 10;">Next</div>

            </div>

            <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
              <div class="bubble-container-small" id="parking">
                <div class="check-ctnr" style="position: absolute; z-index: 5; right: 0; top: -5%">
                  <div ng-include="'<%= asset_path 'svgs/_sUnchecked'%>'"></div>
                </div>
                <div class="row">
                  <div class="small-5 small-centered columns" style="padding-top: 3px">
                    <div class="logo-cntr" style="position: absolute; left:0">
                      <div ng-include="'<%= asset_path 'svgs/_sParking' %>'"></div>
                    </div> 
                  </div>
                </div>
                <div style="position:absolute; width: 100%; margin-top: 70%; left:0;">
                   <div class="row">
                    <div class="small-11 small-centered columns">
                      <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                        To avoid paying for parking
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
              <div class="bubble-container-small" id="hassle">
                <div class="check-ctnr" style="position: absolute; z-index: 5; right: 0; top: -5%">
                  <div ng-include="'<%= asset_path 'svgs/_sUnchecked'%>'"></div>
                </div>
                <div class="row">
                  <div class="small-5 small-centered columns" style="padding-top: 3px">
                    <div class="logo-cntr" style="position: absolute; left:0">
                      <div ng-include="'<%= asset_path 'svgs/_sHassle' %>'"></div>
                    </div> 
                  </div>
                </div>
                <div style="position:absolute; width: 100%; margin-top: 70%; left:0;">
                   <div class="row">
                    <div class="small-11 small-centered columns">
                      <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                        To minimize the hassle for me
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="medium-4 small-4 columns"></div style="padding-left: 10px; padding-right: 10px">

            <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
              <div class="bubble-container-small" id="s-other">
                <div class="check-ctnr" style="position: absolute; z-index: 5; right:0; top: -5%">
                  <div ng-include="'<%= asset_path 'svgs/_sUnchecked'%>'"></div>
                </div>
                <div class="row">
                  <div class="small-5 small-centered columns" style="padding-top: 3px">
                    <div class="logo-cntr" style="position: absolute; left:0">
                      <div ng-include="'<%= asset_path 'svgs/_sOther' %>'"></div>
                    </div> 
                  </div>
                </div>
                <div style="position:absolute; width: 100%; margin-top: 75%; left:0;">
                   <div class="row">
                    <div class="small-11 small-centered columns">
                      <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                        Other (Explain)
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div id="s-other-ctnr" style="display: none; position: absolute; z-index: 6; top: 0; margin-top: 25%; left: 8%; width: 85%; background-color: white; padding-top: 15px; border: 1px solid #C1C1C1; border-radius: 10px">
        <div class="small-3 columns">
          <div class="row">
            <div class="save" style="text-align: center; color: white; background-color: #F25053; padding: 8%; margin-left: 10px; font-size: 2.8vw; border-radius: 5px">
              Save
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="cancel" style="text-align: center; color: white; background-color: #C1C1C1; padding: 8%; margin-left: 10px; font-size: 2.8vw; border-radius: 5px">
              Cancel
            </div>
          </div>
          <div class="row" style="text-align: center; color">
            <div id="char-count-strategy" style="color: #C1C1C1; padding:0; margin:0; font-size: 2vw; text-align: center"></div>
          </div>
        </div>
        <div class="small-9 columns">
          <textarea class="other-strategy" cols="1" rows="7" maxlength="140" style="background-color: #F0943F; color: white" placeholder="Please write here"></textarea>
        </div>

    </div>
  </div>
  <!-- end small screen view -->

</div>
<!-- END STRATEGY QUESTIONS -->
 
