<!-- 17. ICON QUESTIONS -->
<div id="icon-questions">

  <div class="large-12 medium-12 small-12 columns">

    <div class="row">
      <h3 class="main-question">
        Imagine that you could customize this future location
      </h3>
    </div>


    <div class="row">
      <div class="large-7 medium-7 small-12 columns">
        <div class="answer-container">
          <div class="row no-gutter">
            <div class="ac-header">
              Pick your top 3 desired amenities
            </div>
          </div>
          <div class="row">
            <div class="small-9 small-centered columns">
              <div class="row holder">
                <div ng-repeat="answer in currentAnswers">
                  <div class="small-4 columns">
                    <div class="icon-holder">
                      <div ng-include="getAnswerIconPath(answer.id)"></div>
                      <div class="clone-container"></div>
                      <div class="icon-remove">
                        <div ng-include="'<%= asset_path 'svgs/_removeIcon.html' %>'"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="next-btn">Next</div>
          </div>
        </div>

      <div class="large-5 medium-5 small-12 columns">
        <div class="icon-container">
          <div ng-repeat="answer in currentNode.answers">
            <div ng-click="addAnswerToCurrentAnswers(answer)">
              <div class="small-4 columns">
                <div class="icon-holder">
                  <div ng-include="getAnswerIconPath(answer.id)"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 
          <div class="row">
              <div class="small-4 columns">
                <div class="icon-holder">
                  <div ng-include="'<%= asset_path 'svgs/_dog.html' %>'"></div>
                </div>
              </div>
              <div class="small-4 columns">
                <div class="icon-holder">
                  <div ng-include="'<%= asset_path 'svgs/_couch.html' %>'"></div>
                </div>
              </div>
              <div class="small-4 columns">
                <div class="icon-holder">
                  <div ng-include="'<%= asset_path 'svgs/_family.html' %>'"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <div class="icon-holder">
                <div ng-include="'<%= asset_path 'svgs/_computer.html' %>'"></div>
              </div>
            </div>
            <div class="small-4 columns">
              <div class="icon-holder">
                <div ng-include="'<%= asset_path 'svgs/_food.html' %>'"></div>
              </div>
            </div>
            <div class="small-4 columns">
              <div class="icon-holder">
                <div ng-include="'<%= asset_path 'svgs/_wifi.html' %>'"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">
              <div class="icon-holder">
                <div ng-include="'<%= asset_path 'svgs/_parking.html' %>'"></div>
              </div>
            </div>
            <div class="small-4 columns">
              <div class="icon-holder">
                <div ng-include="'<%= asset_path 'svgs/_exit.html' %>'"></div>
              </div>
            </div>
            <div class="small-4 columns">
              <div class="icon-holder">
                <div ng-include="'<%= asset_path 'svgs/_helpdesk.html' %>'"></div>
              </div>
            </div>
          </div>
          -->

          <div class="selection-container">
            <div class="row no-gutter needy">I want...</div>
            <div class="row no-gutter">Dynamic answer magic here</div>
            <div class="row no-gutter">
              <div class="large-10 medium-10 small-10 large-centered medium-centered small-centered columns">
                <div class="row">
                  <div class="large-6 medium-6 small-6 columns"><div ng-include="'<%= asset_path 'svgs/_yea.html' %>'"></div></div>
                    <div class="large-6 medium-6 small-6 columns"><div ng-include="'<%= asset_path 'svgs/_nah.html' %>'"></div></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<!-- END ICON QUESTIONS -->
