    <div id="distance-questions">
      <div id="distance-bg"></div>
      <div class="row" id="dis-row" style="text-align:center">
        <h3 class="main-question">
          {{ currentNode.question.question }}
        </h3>
      </div>

      <div ng-repeat="answer in currentNode.answers"
        ng-click="addAnswerToCurrentAnswers(answer)"
        ng-attr-id="row-{{$index + 1}}"
        class="row">
          {{answer.answer}}
      </div>
      <div class="row" id="row-6">
        <div id="confirm-btn" ng-click="submit()"><b>Next</b></div>

        <div ng-include="'<%= asset_path 'svgs/tower.html' %>'"></div>
        <div ng-include="'<%= asset_path 'svgs/laxArch.html' %>'"></div>

      </div>

      <div id="arrow-contents">
        <div ng-include="'<%= asset_path 'svgs/distance-arrow.html' %>'"></div>
        <div class="grayed-circle" id="circle-1"></div>
        <div class="grayed-circle" id="circle-2"></div>
        <div class="grayed-circle" id="circle-3"></div>
        <div class="grayed-circle" id="circle-4"></div>
        <div class="grayed-circle" id="circle-5"></div>
        <div ng-include="'<%= asset_path 'svgs/house.html' %>'"></div>
        <div ng-include="'<%= asset_path 'svgs/arrow-plane.html' %>'"></div>
      </div>
  </div>
