<div id="mission-intro">
 
    <h3 class="main-question" id="stage-1-header">
      There's always a moment where everything is going right, but something like this happens
    </h3>
    <h3 class="main-question" id="stage-2-header" style="display:none">
      As you rush into your car, your trusty smart <br> phone provides the following information:
    </h3>
    <h3 class="main-question" id="stage-3-header" style="display: none">
      You then calmly drive towards LAX...
    </h3>
    <h3 class="main-question" id="stage-4-header" style="display: none">
      You made it just in time! Your phone reads:
    </h3>

    <div class="stage-container">
      <div class="container-contents" id="intro-phone" style="width: 100%">
         <div ng-include="'<%= asset_path 'svgs/_introPhone.html' %>'"></div> 
      </div>
    </div>


    <div id="stage-1">
      <div class="stage-container">
        <div class="container-contents" id="txt-msg-container">
          <div class="row" style="margin: 0; background-color: #E5E5EA; font-size: 12px">
            <div class="large-4 medium-4 small-4 columns">
              <div class="row">
                <div class="large-6 medium-6 small-6 columns">LAWA</div>
                <div class="large-6 medium-6 small-6 columns" style="padding-left:0"><div ng-include="'<%= asset_path 'svgs/_signal.html' %>'"></div></div>
              </div>
            </div>
            <div class="large-4 medium-4 small-4 columns"><span>{{ currentTime }}</span></div>
            <div class="large-4 medium-4 small-4 columns">
              <div class="row">
                <div class="large-6 medium-6 small-6 columns" style="padding-right: 0">50%</div>
                <div class="large-6 medium-6 small-6 columns" style="margin-top: 2%; padding-left: 0; opacity: 0.8"><div ng-include="'<%= asset_path 'svgs/_battery.html' %>'"></div></div>
              </div>
            </div>
          </div>
          <div class="row" style="margin: 0; background-color: #E5E5EA">
            <div class="large-4 medium-4 small-4 columns" style="color: #49B9FB;">&lt;Messages</div>
            <div class="large-4 medium-4 small-4 columns" style="font-weight: 700"><span>{{ variables.text_from }}</span></div>
            <div class="large-4 medium-4 small-4 columns" style="color: #49B9FB">Contact&gt;</div>
          </div>
          <div class="row" style="margin: 0; background-color: #E5E5EA">
            <div class="large-12 medium-12 small-12 columns"></div>
          </div>

          <div class="row" id="recieved-txt-time" style="font-size: 12px; color: #979A9C; margin:0 ">
            Today <span>{{ tenMinutesAgo }}</span>
          </div>


          <div class="row" id="txt-bbl-content" style="margin: 0; background-color: white">
            <div id="recieved-txt">
              Hey there! Just wanted to remind you to pick me up today at LAX! It would be terrible if you forgot to pick up your favorite <span>{{ variables.original_who_picking_up }}</span> from the airport! I should arrive today around <span>{{ oneHourFromNow }}</span>.  See you soon! :D
            </div>
            <div id="sent-txt">
               Uhh... yeah of course!
            </div>
          </div>

          <div class="row" id="txt-footer-container">
            <div class="large-2 medium-2 small-2 columns" id="camera-wrapper"><div ng-include="'<%= asset_path 'svgs/_phoneCamera.html' %>'"></div></div>
            <div class="large-5 medium-5 small-5 columns" style="padding-left: 0">
              <div id="phone-txt-input">
                I FORGOT D:
              </div>
            </div>
            <div class="large-5 medium-5 small-5 columns" style="padding:0">
              <div id="phone-next-btn">
                Run to your car
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="stage-2" style="display: none">

      <div id="stage-2-header">
        <div class="row" style="text-align: center; margin: 0">
          <div class="large-6 medium-6 small-6 columns depart">Departing</div>
          <div class="large-6 medium-6 small-6 columns arrive">Arriving</div>
        </div>
        <div class="row" style="text-align: center; margin: 0">
          <div class="large-5 medium-5 small-5 columns from"><span>{{ variables.originating_airport_code }}</span></div>
          <div class="large-2 medium-2 small-2 columns" style="padding:0"><div ng-include="'<%= asset_path 'svgs/_introplane.html' %>'"></div></div>
          <div class="large-5 medium-5 small-5 columns to">LAX</div>
        </div>
        <div class="row" style="text-align: center; margin: 0">
          <div class="large-4 medium-4 small-4 columns from-name"><span>{{ variables.originating_city }}</span></div>
          <div class="large-4 medium-4 small-4 columns flight">Flight <span>{{ variables.flight_code }}</span></div>
          <div class="large-4 medium-4 small-4 columns to-name">Los Angeles</div>
        </div>
      </div>

      <div id="stage-2-body">
        <div class="row" style="text-align: center; margin: 0; padding-top: 7px">
          <div id="pickup-person" class="large-6 medium-6 small-6 columns">
            <div
              ng-show="variables.original_who_picking_up === 'Coworker' ||
                       variables.original_who_picking_up === 'Coworkers'"
              ng-include="'<%= asset_path 'svgs/_suitguy.html' %>'">
            </div>

            <div
              ng-show="variables.original_who_picking_up === 'Friend' ||
                       variables.original_who_picking_up === 'Friends'"
              ng-include="'<%= asset_path 'svgs/_friend.html' %>'">
            </div>

            <div
              ng-show="variables.original_who_picking_up === 'Parent' ||
                       variables.original_who_picking_up === 'Parents'"
              ng-include="'<%= asset_path 'svgs/_familyGuy.html' %>'">
            </div>
          </div>
          <div id="pickup-luggage" class="large-6 medium-6 small-6 columns">
            <div ng-include="'<%= asset_path 'svgs/_briefcase.html' %>'"></div>
          </div>
        </div>
        <div class="row" style="text-align: center; margin: 0;">
          <div class="large-6 medium-6 small-6 columns"><span>{{ variables.picking_up_number }}</span> <span>{{ variables.original_who_picking_up }}</span></div>
          <div class="large-6 medium-6 small-6 columns" style="padding: 0">
            with <span>{{ variables.luggage_count }}</span> <span>{{ variables.luggage_type }}</span>
          </div>
        </div>

        <div class="row" style="text-align: center; margin:0; margin-top: 10px;">

          <div class="large-3 medium-3 small-3 columns traffic-level-label">
            <div ng-include="'<%= asset_path 'svgs/_home.html' %>'"></div>
          </div>

          <!-- class names for car colors: .fast, .medium, .slow -->

          <div class="large-2 medium-2 small-2 columns traffic-level"><div ng-class="variables.traffic_level" id="level-1"></div></div>
          <div class="large-2 medium-2 small-2 columns traffic-level"><div ng-class="variables.traffic_level" id="level-2"></div></div>
          <div class="large-2 medium-2 small-2 columns traffic-level"><div ng-class="variables.traffic_level" id="level-3"></div></div>

          <div class="large-3 medium-3 small-3 columns traffic-level">
            <div ng-include="'<%= asset_path 'svgs/_trafficCar.html' %>'"></div>
          </div>
        </div>

        <div class="row" style="text-align: center; margin: 0;">
          <div class="large-10 medium-10 small-10 large-centered medium-centered small-centered columns">
            LAX Traffic Level
          </div>
        </div>

        <div ng-class="variables.traffic_level " class="row" style="text-align: center; margin: 10px 0 0 0;">
          {{variables.traffic_level | uppercase}}
        </div>

      </div>

      <div id="stage-2-btn">
        Let's Go!
      </div>
    </div>   





    <div id="stage-3" style="display: none">
      <div id="speeding-bg">
        <div id="palm-1">
          <div ng-include="'<%= asset_path 'svgs/_palmTree2.html' %>'"></div>
        </div>

        <div id="road">
          <div id="line"></div>
          <div id="speeding-car">
            <div id="speeding-bbl">
              Yay Speeding!
            </div>
            <div ng-include="'<%= asset_path 'svgs/_boxster.html' %>'"></div>
          </div>
          <div id="palm-2">
            <div ng-include="'<%= asset_path 'svgs/_palmTree1.html' %>'"></div>
          </div>
        </div>

      </div>
    </div>






    <div id="stage-4" style="display: none">

        <div class="row" style="margin: 0; background-color: #E5E5EA; font-size: 12px">
          <div class="large-4 medium-4 small-4 columns">
            <div class="row">
              <div class="large-6 medium-6 small-6 columns">LAWA</div>
              <div class="large-6 medium-6 small-6 columns" style="padding-left:0"><div ng-include="'<%= asset_path 'svgs/_signal.html' %>'"></div></div>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns" style="text-align: center"><span>{{ currentTime }}</span></div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="row">
              <div class="large-6 medium-6 small-6 columns" style="padding-right: 0">42%</div>
              <div class="large-6 medium-6 small-6 columns" style="margin-top: 2%; padding-left: 0; opacity: 0.8"><div ng-include="'<%= asset_path 'svgs/_battery.html' %>'"></div></div>
            </div>
          </div>
        </div>

        <div class="row" style="margin: 0; background-color: #E5E5EA">
          <div class="large-4 medium-4 small-4 columns" style="color: #49B9FB;">&lt;Messages</div>
          <div class="large-4 medium-4 small-4 columns" style="font-size: 14px; font-weight: 700; padding:0; text-align: center">Flight status</div>
          <div class="large-4 medium-4 small-4 columns" style="color: #49B9FB">Contact&gt;</div>
        </div>

        <div class="row" style="margin: 0">
          <div id="timer-backdrop">
            <div ng-include="'<%= asset_path 'svgs/_introstopwatch.html' %>'"></div>
            <div id="bd-content">
              <div class="row" id="flight-display">
                Flight <span>{{ variables.flight_code }}</span> <br>
                Will Land In
              </div>
            </div>
            <div id="display-time"><span id="mn-time">{{ variables.landing_time }}</span><span id="mn-unit">min</span></div>
          </div>
        </div>

        <div class="row" style="margin:0; padding-top: 30px">
          <div class="small-11 small-centered columns" style="text-align:center; font-size: 20px; color: #59CFEF">
            You now need to make some choices to get your passenger on Time.
          </div>
        </div>

        <div class="row" style="margin:0">
          <div class="small-11 small-centered columns" style="text-align:center; font-size: 30px; padding-top: 20px; color: #59CFEF">
            Good Luck!
          </div>
        </div>

        <div id="stage-4-btn" ng-click="submit(null, false)">
          Let's Go!
        </div>

      </div>
    </div>
  </div>
  <!-- END MISSION INTRO -->
