<button id="toggle-questions" style="position: absolute; font-size: 5px; width: 50px; height: 30px; padding: 5px 5px 10px 0 ">TOGGLE QUESTIONS</button>
<!-- <div ng-app='app.exampleApp' ng-controller='ExampleCtrl'> -->
  <!-- <div class="quiz" ng-show="quizRunning"> -->
  <!-- <ul ng-repeat="q in surveyQuestions"> -->
        
            <!-- <div ng-show="currentQuestion === q.id">
              <h3>{{ q.question }}</h3>
              <ul>
                <li><a href="#" ng-click="advanceQuestion(q.id)">{{ q.answer_1 }}</a></li>
                <li><a href="#" ng-click="advanceQuestion(q.id)">{{ q.answer_2 }}</a></li>
              </ul>
            </div> -->
     
            <!-- </ul> -->

            <!-- <div class="summary" ng-hide="quizRunning"> -->
            <!-- <p>You have finished the quiz.</p> -->
            <!-- <p><a href="#" ng-click="restartQuiz()">Retry?</a> -->
 <!-- </div> -->
<div id="skip-button">
  <%= render 'skipbutton' %>
</div>
<!-- <div id="logger"></div> -->


<!-- QUESTIONS FORMAT -->
<div class="row">
  <div class="large-12 medium-12 small-12 columns">

    <!-- tile questions -->
    <div id="tile-questions"  style="display: none">
      <!-- questions header -->
      <div class="show-for-landscape">
        <div class="row">
          <div class="large-9 medium-9 small-12 large-centered medium-centered small-centered columns">
            <div id="question-header-landscape">
                <h3 id="main-landscape">What are you doing while you wait?</h3>
                <h5 id="foot-landscape">Select all that apply</h5> 
            </div>
          </div>
        </div>
      </div>

      <div class="show-for-portrait">
        <div class="row">
          <div class="large-9 medium-9 small-12 large-centered medium-centered small-centered columns">
            <div id="question-header">
                <h3 id="main">What are you doing while you wait?</h3>
                <h5 id="foot">Select all that apply</h5> 
            </div>
          </div>
        </div>
      </div>
      <!-- end questions header -->

      <!-- landscape -->
      <div class="show-for-landscape">

        <div id="large-landscape">
          <div class="row">
            <div class="large-12 medium-12 large-centered medium-centered columns">
              <div class="row">
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'phone' %>
                  <div class="row" style="text-align: center; color: white">
                    On my phone
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'shop' %>
                  <div class="row" style="text-align: center; color: white">
                    Shop in the terminal
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'hangout' %>
                  <div class="row" style="text-align: center; color: white">
                    Hang out
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 10px;">
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'eat' %>
                  <div class="row" style="text-align: center; color: white">
                    Eat or drink
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'other' %>
                  <div class="row" style="text-align: center; color: white">
                    Other
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                  <div class="row" style="padding:0">
                    <div class="large-12 medium-12 small-12 columns">
                      <div id="user-text-input">
                        <div class="arrow-left" style="position:absolute; z-index: 1;"></div>
                        <div class="row" style="text-align: center; color: #AA75D3; padding-bottom: 5px">
                          Please write here
                        </div>
                        <div class="row" style="padding-bottom:0">
                          <textarea id="other-info" cols="1" rows="4" maxlength="150"></textarea> 
                        </div>
                        <div class="row" id="char-count" style="text-align:center; color: #B2C4D4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </div>
        </div>
        

        <div id="small-landscape">
          <div class="row">
            <div class="small-3 medium-3 columns">
              <%= render 'phone' %>
              <div class="row tile-title" style="text-align: center; color: white">
                On my phone
              </div>
            </div>
            <div class="small-3 medium-3 columns">
              <%= render 'shop' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Shop in the terminal
              </div>
            </div>
            <div class="small-3 medium-3 columns">
              <%= render 'hangout' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Hang out
              </div>
            </div>
            <div class="small-3 medium-3 columns">
              <%= render 'eat' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Eat or drink
              </div>
            </div> 
          </div>
          <div class="row">
            <div class="small-8 medium-8 small-centered medium-centered columns">
              <div class="row" style="margin-top: 15px">
                  <div class="medium-6 small-6 columns"><%= render 'smallother' %></div>
                  <div class="medium-6 small-6 columns" style="padding: 6px 0 0 0"><div class="small-tile-label-landscape" style="text-align: left; color: white">Other (Specify)</div></div>
                </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end landscape -->
      
      <!-- portrait -->
      <div class="show-for-portrait">
    
        <div class="row" id="tiles-small">
          <div class="medium-10 small-11 medium-centered small-centered columns">

            <div class="row">
              <div class="medium-6 small-6 columns">
                <%= render 'phone' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  On my phone
                </div>
              </div>
              <div class="medium-6 small-6 columns">
                <%= render 'shop' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Shop in the terminal
                </div>
              </div>
            </div>

            <div class="row" id="bottom-tile-row">
              <div class="medium-6 small-6 columns">
                <%= render 'hangout' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Shop in the terminal
                </div>
              </div>
              <div class="medium-6 small-6 columns">
                <%= render 'eat' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Shop in the terminal
                </div>
              </div>
            </div>

            <div class="row" id="small-other-row">
              <div class="medium-8 small-10 medium-centered small-centered columns">
                <div class="row" style="margin-top: 15px">
                  <div class="medium-6 small-6 columns"><%= render 'smallother' %></div>
                  <div class="medium-6 small-6 columns" style="padding: 6px 0 0 0"><div class="small-tile-label" style="text-align: left; color: white">Other (Specify)</div></div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    <!-- end portrait -->
    </div>
    <!-- end tile questions -->



    <!-- TIMER questions -->
    <div id="clock-questions">
      <!-- questions header -->
      <div class="row" style="text-align:center">
      <h3 style="color: white">How long do you usually take you to park?</h3>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 large-centered medium-centered small-centerd columns">
          <div id="clock-container">
            <%= render 'timerquestion' %>
            <div id="timer-question-submit">Submit</div>
          </div>
        </div>
        <!-- <input name="Submit" type="submit" class="button"> -->
      </div>
    </div>
    <!-- end clock questions -->








  </div>
</div>
<!-- END QUESTION FORMAT -->


<!-- SCENES -->

<!-- parking lot -->
<div id="parking-lot">
  <%= render 'lines' %>
  <%= render 'cars' %>
</div>
<!-- end parking lot -->

<!-- END SCENES -->


<!-- DASHBOARD -->

<div id="dashboard">
    <div id="grad-container">
      <div id="grad-4">
        <div class="row">
          <div class="large-12 medium-12 small-12 columns">
            <div id="displayed-time">15</div>
            <div id="min">min</div>
            <div id="spent">spent picking up</div>
          </div>
        </div>
      </div>
      <div id="grad-3">
        <div class="row">
          <div class="large-6 medium-6 small-6 columns" style="padding-top: 20px; padding-left: 28%"><%= render 'personicon' %></div>
          <div class="large-2 medium-2 small-2 columns" style="padding-top: 40px; font-size: 30px">x</div>
          <div class="large-4 medium-4 small-4 columns" style="padding-top: 40px; padding-left: 0; padding-right: 0; font-size: 80px">2</div>
          </div>
      </div>
      <div id="grad-2">        
        <div class="row">
          <div class="large-6 medium-6 small-6 columns" style="padding-top: 20px; padding-left: 28%"><%= render 'briefcase' %></div>
          <div class="large-2 medium-2 small-2 columns" style="padding-top: 40px; font-size: 30px">x</div>
          <div class="large-4 medium-4 small-4 columns" style="padding-top: 40px; padding-left: 0; padding-right: 0; font-size: 80px">4</div>
        </div>
      </div>
      <div id="grad-1">
        <div class="row">
          <div class="large-4 medium-4 small-4 columns">
            <div id="plane-logo">
              <%= render 'planelogo' %>
            </div>
          </div>
          <div class="large-8 medium-8 small-8 columns" id="flight-num">
            FLIGHT 2077 <br>
            <div style="font-size: 18px">Inbound From ORD</div>
          </div>
        </div>
      </div>
    </div>
  <div id="gradient-1"></div>
  <div id="gradient-2"></div>
  <div id="gradient-3">
  </div>
  <div id="gradient-4" style="padding: 0">
    <div id="clock">
      <div id="hour">
        <div id="short-hand"></div>
      </div>
      <div id="minute">
        <div id="long-hand"></div>
      </div>
      <div id="cap"></div>
      <%= render 'timer' %>
    </div>
  </div>

  <div id="progress-bar">
    <div id="ord">ORD</div>
    <div id="bar-back">
      <div id="plane-bar"></div>
      <div id="filler">
        <div id="circular-plane">
          <%= render 'progressplane' %>
        </div>
      </div>
    </div>
    <div id="lax">LAX</div>
  </div>

      <div id="person-icon">
      <%= render 'personicon' %>
    </div>
</div>  



<!-- END DASHBOARD -->

<!-- <button id="land" style="position: absolute; z-index: 35; bottom: 0; right:0">LAND ZE PLANE</button> -->

<!-- DATA PASSED FROM FRAMEWORKS -->
<div id="plane-progress" data-plane-progress=100></div>
<div id="timer-progress" data-timer-progress=></div>
<!-- END DATA PASSED FROM FRAMEWORKS -->



