<!-- <div ng-app='app.exampleApp' ng-controller='ExampleCtrl'> -->
  <!-- <div class="quiz" ng-show="quizRunning"> -->
  <!-- <ul ng-repeat="q in surveyQuestions"> -->
        
            <!-- <div ng-show="currentQuestion === q.id">
              <h3>{{ q.question }}</h3>
              <ul>
                <li><a href="#" ng-click="advanceQuestion(q.id)">{{ q.answer_1 }}</a></li>
                <li><a href="#" ng-click="advanceQuestion(q.id)">{{ q.answer_2 }}</a></li>
              </ul>
            </div> -->
     
            <!-- </ul> -->

            <!-- <div class="summary" ng-hide="quizRunning"> -->
            <!-- <p>You have finished the quiz.</p> -->
            <!-- <p><a href="#" ng-click="restartQuiz()">Retry?</a> -->
 <!-- </div> -->

<!-- QUESTIONS FORMAT -->
<div class="row">
  <div class="large-12 medium-12 small-12 columns">

  <!-- questions header -->
    <div class="show-for-landscape">
      <div class="row">
        <div class="large-9 medium-9 small-12 large-centered medium-centered small-centered columns">
          <div id="question-header-landscape">
              <h3 id="main-landscape">What are you doing while you wait?</h3>
              <h5 id="foot-landscape">Select all that apply</h5> 
          </div>
        </div>
      </div>
    </div>

    <div class="show-for-portrait">
      <div class="row">
        <div class="large-9 medium-9 small-12 large-centered medium-centered small-centered columns">
          <div id="question-header">
              <h3 id="main">What are you doing while you wait?</h3>
              <h5 id="foot">Select all that apply</h5> 
          </div>
        </div>
      </div>
    </div>
    <!-- end questions header -->


    <div id="tiles">
      <!-- tiles landscape -->
      <div class="show-for-landscape">

        <div id="large-landscape">
          <div class="row">
            <div class="large-12 medium-12 large-centered medium-centered columns">
              <div class="row">
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'phone' %>
                  <div class="row" style="text-align: center; color: white">
                    On my phone
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'shop' %>
                  <div class="row" style="text-align: center; color: white">
                    Shop in the terminal
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'hangout' %>
                  <div class="row" style="text-align: center; color: white">
                    Hang out
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 10px;">
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'eat' %>
                  <div class="row" style="text-align: center; color: white">
                    Eat or drink
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                  <%= render 'other' %>
                  <div class="row" style="text-align: center; color: white">
                    Other
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns">
                  <div class="row" style="padding:0">
                    <div class="large-12 medium-12 small-12 columns">
                      <div id="user-text-input">
                        <div class="arrow-left" style="position:absolute; z-index: 1;"></div>
                        <div class="row" style="text-align: center; color: #AA75D3; padding-bottom: 5px">
                          Please write here
                        </div>
                        <div class="row" style="padding-bottom:0">
                          <textarea id="other-info" cols="1" rows="4" maxlength="150"></textarea> 
                        </div>
                        <div class="row" id="char-count" style="text-align:center; color: #B2C4D4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </div>
        </div>
        

        <div id="small-landscape">
          <div class="row">
            <div class="small-3 medium-3 columns">
              <%= render 'phone' %>
              <div class="row tile-title" style="text-align: center; color: white">
                On my phone
              </div>
            </div>
            <div class="small-3 medium-3 columns">
              <%= render 'shop' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Shop in the terminal
              </div>
            </div>
            <div class="small-3 medium-3 columns">
              <%= render 'hangout' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Hang out
              </div>
            </div>
            <div class="small-3 medium-3 columns">
              <%= render 'eat' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Eat or drink
              </div>
            </div> 
          </div>
          <div class="row">
            <div class="small-8 medium-8 small-centered medium-centered columns">
              <div class="row" style="margin-top: 15px">
                  <div class="medium-6 small-6 columns"><%= render 'smallother' %></div>
                  <div class="medium-6 small-6 columns" style="padding: 6px 0 0 0"><div class="small-tile-label-landscape" style="text-align: left; color: white">Other (Specify)</div></div>
                </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end tiles landscape -->
      
      <!-- tiles portrait -->
      <div class="show-for-portrait">
    
        <div class="row" id="tiles-small">
          <div class="medium-10 small-11 medium-centered small-centered columns">

            <div class="row">
              <div class="medium-6 small-6 columns">
                <%= render 'phone' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  On my phone
                </div>
              </div>
              <div class="medium-6 small-6 columns">
                <%= render 'shop' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Shop in the terminal
                </div>
              </div>
            </div>

            <div class="row" id="bottom-tile-row">
              <div class="medium-6 small-6 columns">
                <%= render 'hangout' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Shop in the terminal
                </div>
              </div>
              <div class="medium-6 small-6 columns">
                <%= render 'eat' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Shop in the terminal
                </div>
              </div>
            </div>

            <div class="row" id="small-other-row">
              <div class="medium-8 small-10 medium-centered small-centered columns">
                <div class="row" style="margin-top: 15px">
                  <div class="medium-6 small-6 columns"><%= render 'smallother' %></div>
                  <div class="medium-6 small-6 columns" style="padding: 6px 0 0 0"><div class="small-tile-label" style="text-align: left; color: white">Other (Specify)</div></div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    <!-- end tiles portrait -->
    </div>



  </div>
</div>
<!-- END QUESTION FORMAT -->


<!-- SCENES -->

<!-- parking lot -->
<div id="parking-lot">
  <%= render 'lines' %>
  <%= render 'cars' %>
</div>
<!-- end parking lot -->

<!-- END SCENES -->


<!-- DASHBOARD -->
<div id="dashboard">
  <div class="row">
    <div class="large-3 medium-3 small-3 columns"><br></div>
    <div class="large-3 medium-3 small-3 columns"><br></div>
    <div class="large-3 medium-3 small-3 columns"><br></div>
    <div class="large-3 medium-3 small-3 columns"><br></div>
  </div>
</div>

    <!-- <div id="speedo" style="text-align: center"> -->
      <!-- <div id="bottom-circle">
        <div id="short-arrow"></div>
      </div>
      <div id="top-circle">
        <div id="long-arrow"></div>
      </div>
      <div id="timer">
        <div id="min" style="text-align: center">15 min</div>
        <div id="min-footer" style="text-align: center">until landing</div>    
      </div> -->

 
 <!-- END DASHBOARD -->



<!-- <button id="land" style="position: absolute; z-index: 35; bottom: 0; right:0">LAND ZE PLANE</button> -->
