<button id="toggle-questions" style="position: absolute; z-index: 35; font-size: 10px; width: 50px; height: 30px; padding: 5px 5px 10px 0 ">TOGGLE</button>

<div class="rail-background">
  <%= render 'railBuildings' %>
</div>

<div id="skip-button">
  <%= render 'skipbutton' %>
</div>

<div id="clicks" style="position: absolute; right:0; color: white"></div>
<!-- <div id="logger"></div> -->

<!-- SPLASH PAGE -->
<div id="splash-page" class="slide current" data-currentnode="1" data-nextnode="3" style="display: none">
  <div class="row" style="text-align: center; margin-top: 3%">
    <h2 style="color: white">Are you an LAX <span style="font-weight: 700">Pick Up Artist?</span></h2>
    <div id="start-button" class="emergency-next">Start</div>
  </div>
  <div id="splash-page-container">
    <%= render 'splashPage' %>
  </div>
</div>
<!-- END SPLASH PAGE -->

<!-- QUESTION FORMATS -->
<div class="row">
  <!-- 1. DISTANCE questions -->
    <div id="distance-questions" class="slide" data-currentnode="2" data-nextnode="4">
      <div id="distance-bg"></div>
      <div class="row" id="dis-row" style="text-align:center">
        <h3 class="main-question">
          How far away do you live from LAX?
        </h3>
      </div>
     
      <div class="row" id="row-1">
        5+ hours away
      </div>
      <div class="row" id="row-2">
        2-5 hours away
      </div>
      <div class="row" id="row-3">
        1-2 hours away      
      </div>
      <div class="row" id="row-4">
        30-60 minutes away 
      </div>
      <div class="row" id="row-5">
        < 30 minutes away
      </div>
      <div class="row" id="row-6">
        <div class="next emergency-next" id="dist-temp"><b>Next</b></div>
        <div id="tower">
          <%= render 'tower' %>  
        </div>
        <div id="arch">
          <%= render 'laxArch' %>  
        </div>
      </div>
      
      <div id="arrow-contents">
        <%= render 'distanceArrow' %>
        <div class="grayed-circle" id="circle-1"></div>
        <div class="grayed-circle" id="circle-2"></div>
        <div class="grayed-circle" id="circle-3"></div>
        <div class="grayed-circle" id="circle-4"></div>
        <div class="grayed-circle" id="circle-5"></div>
        <%= render 'house' %>
        <%= render 'arrowPlane'%>
      </div>
  </div>
  <!-- END DISTANCE QUESTIONS -->






  <!-- 2. MISSION INTRO -->
  <div id="mission-intro"  class="slide" data-currentnode="3" data-nextnode="2">
 
    <h4 id="stage-1-header" style="">
      There's always a moment where everything is going right, but something like this happens...
    </h4>
    <h4 id="stage-2-header" style="display:none">
      As you rush into your car, your trusty smart <br> phone provides the following information:
    </h4>
    <h4 id="stage-4-header" style="display: none">
      You made it just in time! It looks like the flight was a little late. <br> Your phone reads:
    </h4>

    <div class="stage-container" id="phone-container">
      <div class="container-contents" id="intro-phone">
         <%= render 'introPhone' %> 
      </div>
    </div>





    <div id="stage-1" style="">
      <div class="stage-container">
        <div class="container-contents" id="txt-msg-container">
          <div class="row" style="margin: 0; background-color: #E5E5EA; font-size: 12px">
            <div class="large-4 medium-4 small-4 columns">
              <div class="row">
                <div class="large-6 medium-6 small-6 columns">LAWA</div>
                <div class="large-6 medium-6 small-6 columns" style="padding-left:0"><%= render 'signal' %></div>
              </div>
            </div>
            <div class="large-4 medium-4 small-4 columns"><span>9:41</span> <span>AM</span></div>
            <div class="large-4 medium-4 small-4 columns">
              <div class="row">
                <div class="large-6 medium-6 small-6 columns" style="padding-right: 0">50%</div>
                <div class="large-6 medium-6 small-6 columns" style="margin-top: 2%; padding-left: 0; opacity: 0.8"><%= render 'battery' %></div>
              </div>
            </div>
          </div>
          <div class="row" style="margin: 0; background-color: #E5E5EA">
            <div class="large-4 medium-4 small-4 columns" style="color: #49B9FB;">&lt;Messages</div>
            <div class="large-4 medium-4 small-4 columns" style="font-weight: 700"><span>Person</span></div>
            <div class="large-4 medium-4 small-4 columns" style="color: #49B9FB">Contact&gt;</div>
          </div>
          <div class="row" style="margin: 0; background-color: #E5E5EA">
            <div class="large-12 medium-12 small-12 columns"></div>
          </div>

          <div class="row" id="recieved-txt-time" style="font-size: 12px; color: #979A9C; margin:0 ">
            Today <span>9:32</span> <span>AM</span>
          </div>


          <div class="row" id="txt-bbl-content" style="margin: 0; background-color: white">
            <div id="recieved-txt">
              Hey there! Just wanted to remind you to pick me up today at LAX! It would be terrible if you forgot to pick up your favorite <span>PERSON</span> from the airport! I should arrive today around <span>TIME</span>.  See you soon! :D
            </div>
            <div id="sent-txt" style="">
               Uhh... yeah of course!
            </div>
          </div>

          <div class="row" id="txt-footer-container">
            <div class="large-2 medium-2 small-2 columns" id="camera-wrapper"><%= render 'phoneCamera' %></div>
            <div class="large-5 medium-5 small-5 columns" style="padding-left: 0">
              <div id="phone-txt-input">
                I FORGOT D:
              </div>
            </div>
            <div class="large-5 medium-5 small-5 columns" style="padding:0">
              <div id="phone-next-btn">
                Run to your car
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  




    <div id="stage-2" style="display:none">

      <div id="stage-2-header">
        <div class="row" style="text-align: center; margin: 0">
          <div class="large-6 medium-6 small-6 columns" style="text-align: left; font-size: 15px">Departing</div>
          <div class="large-6 medium-6 small-6 columns" style="text-align: right; font-size: 15px">Arriving</div>
        </div>
        <div class="row" style="text-align: center; margin: 0">
          <div class="large-5 medium-5 small-5 columns" style="font-size: 35px; padding-top: 10px; text-align: left; font-weight: 700"><span>ORD</span></div>
          <div class="large-2 medium-2 small-2 columns" style="padding:0"><%= render 'introplane' %></div>
          <div class="large-5 medium-5 small-5 columns" style="font-size: 35px; padding-top: 10px; text-align: right; font-weight: 700">LAX</div>
        </div>
        <div class="row" style="text-align: center; margin: 0">
          <div class="large-4 medium-4 small-4 columns" style="font-size: 12px; text-align: left"><span>Chicago</span></div>
          <div class="large-4 medium-4 small-4 columns" style="font-size: 12px; text-align: center">Flight <span>1254</span></div>
          <div class="large-4 medium-4 small-4 columns" style="font-size: 12px; text-align: right">Los Angeles</div>
        </div>
      </div>

      <div id="stage-2-body">
        <div class="row" style="text-align: center; margin: 0; padding-top: 15px">
          <div id="pickup-person" class="large-6 medium-6 small-6 columns">
            <%= render 'suitguy' %>
          </div>
          <div id="pickup-luggage" class="large-6 medium-6 small-6 columns">
            <%= render 'briefcase' %>
          </div>
        </div>
        <div class="row" style="text-align: center; margin: 0;">
          <div class="large-6 medium-6 small-6 columns"><span>1</span> <span>Client</span></div>
          <div class="large-6 medium-6 small-6 columns" style="padding: 0">
            with <span>2</span> <span>Large Suitcases</span>
          </div>
        </div>

        <div class="row" style="text-align: center; margin:0;">
          
          <div class="large-3 medium-3 small-3 columns traffic-level-label"><%= render 'home' %></div>

          <!-- class names for car colors: .fast, .medium, .slow -->
          
          <div class="large-2 medium-2 small-2 columns traffic-level"><div class="medium" id="level-1"></div></div>
          <div class="large-2 medium-2 small-2 columns traffic-level"><div class="medium" id="level-2"></div></div>
          <div class="large-2 medium-2 small-2 columns traffic-level"><div class="medium" id="level-3"></div></div>
          
          

          <div class="large-3 medium-3 small-3 columns traffic-level">
            <%= render 'trafficCar' %>
          </div>
        </div>

        <div class="row" style="text-align: center; margin: 0">
          <div class="large-8 medium-8 small-8 large-centered medium-centered small-centered columns">
            <div class="large-3 medium-3 small-3 columns" style="font-size: 12px; color: #808080">Fast</div>
            <div  class="large-2 medium-2 small-2 columns" style="padding: 0">
              <div class="fast"></div>
            </div>
            <div class="large-2 medium-2 small-2 columns" style="padding: 0">
              <div class="medium"></div>
            </div>
            <div class="large-2 medium-2 small-2 columns" style="padding: 0">
              <div class="slow"></div>
            </div>
            <div class="large-3 medium-3 small-3 columns" style="font-size: 12px; text-align: left; color: #808080">Slow</div>
          </div>
        </div>
        <div class="row" style="text-align: center; margin: 0; padding-bottom: 20px;">
          <div class="large-10 medium-10 small-10 large-centered medium-centered small-centered columns">
            LAX Traffic Level
          </div>
        </div>
      </div>

      <div id="stage-2-btn">
        Let's Go!
      </div>
    </div>   





    <div id="stage-3" style="display:none">

      
      <div id="speeding-bg">

<!--         <div id="city-bg">
          <span class="building-container">
            <%= render 'laBuildings2' %>
          </span>
          <span class="building-container">
            <%= render 'laBuildings' %>
          </span>
          <span class="building-container">
            <%= render 'laBuildings2' %>
          </span>
          <span class="building-container">
            <%= render 'laBuildings2' %>
          </span>
          <span class="building-container">
            <%= render 'laBuildings2' %>
          </span>
          <span class="building-container">
            <%= render 'laBuildings2' %>
          </span>
          <span class="building-container">
            <%= render 'laBuildings2' %>
          </span>
          <span class="building-container">
            <%= render 'laBuildings' %>
          </span>
        </div> -->

        <div id="palm-1">
          <%= render 'palmTree2' %>
        </div>

        <div id="road">
          <div id="line"></div>
          <div id="speeding-car">
            <div id="speeding-bbl">
              Yay Speeding!
            </div>
            <%= render 'boxster' %>
          </div>
          <div id="palm-2">
            <%= render 'palmTree1' %>
          </div>
        </div>

      </div>
    </div>






    <div id="stage-4" style="display: none">

        <div class="row" style="margin: 0; background-color: #E5E5EA; font-size: 12px">
          <div class="large-4 medium-4 small-4 columns">
            <div class="row">
              <div class="large-6 medium-6 small-6 columns">LAWA</div>
              <div class="large-6 medium-6 small-6 columns" style="padding-left:0"><%= render 'signal' %></div>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns" style="text-align: center"><span>9:41</span> <span>AM</span></div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="row">
              <div class="large-6 medium-6 small-6 columns" style="padding-right: 0">42%</div>
              <div class="large-6 medium-6 small-6 columns" style="margin-top: 2%; padding-left: 0; opacity: 0.8"><%= render 'battery' %></div>
            </div>
          </div>
        </div>

        <div class="row" style="margin: 0; background-color: #E5E5EA">
          <div class="large-4 medium-4 small-4 columns" style="color: #49B9FB;">&lt;Messages</div>
          <div class="large-4 medium-4 small-4 columns" style="font-size: 14px; font-weight: 700; padding:0; text-align: center">Flight status</div>
          <div class="large-4 medium-4 small-4 columns" style="color: #49B9FB">Contact&gt;</div>
        </div>

        <div class="row" style="margin: 0">
          <div id="timer-backdrop">            
            <%= render 'introstopwatch' %>
            <div id="bd-content">
              <div class="row" id="flight-display">
                Flight <span>1234</span> <br>
                Will Land In
              </div>
            </div>
            <div id="display-time"><span id="mn-time">30</span><span id="mn-unit">min</span></div>
          </div>
        </div>

        <div class="row" style="margin:0; padding-top: 30px">
          <div class="small-11 small-centered columns" style="text-align:center; font-size: 20px; color: #59CFEF">
            You now need to make some choices to get your passenger on Time.
          </div>
        </div>

        <div class="row" style="margin:0">
          <div class="small-11 small-centered columns" style="text-align:center; font-size: 30px; padding-top: 20px; color: #59CFEF">
            Good Luck!
          </div>
        </div>

        <div id="stage-4-btn">
          Let's Go!
        </div>

      </div>  
    </div>
  </div>
  <!-- END MISSION INTRO -->







  <!-- 3. INTERACTIVE MAP -->
  <div id="interactive-map" class="slide" data-currentnode="4" data-nextnode="5">
    <div class="top-half">
      <h3>What is your strategy for picking up your passenger?</h3>
    </div>

    <div class="bottom-half">
      <div style="display: inline-block; position: relative;">
        <div class="instructions">
          <div class="path-message showing">Choose a letter to select an approach</div>
          <div class="path-yellow path-message btcf">
            <div class="dIB vAM">Hope to catch your passenger at the curb</div>
            <div class="dIB vAM">
              <div class="dIB vAM double">
                <%= render 'gpsRefresh' %>
              </div>
              <div class="dIB vAM double">
                <%= render 'gpsCar' %>
              </div>
            </div>
          </div>
          <div class="path-green path-message btcf">
            <div class="dIB vAM">Park and meet your passenger inside the terminal</div>
            <div class="dIB vAM icon">
              <%= render 'parking' %>
            </div>
          </div>
          <div class="path-orange path-message btcf">
            <div class="dIB vAM">Wait off site until passenger is ready to be picked up</div>
            <div class="dIB vAM">
              <div class="dIB vAM double">
                <%= render 'gpsEats' %>
              </div>
              <div class="dIB vAM double">
                <%= render 'gpsBag' %>
              </div>
            </div>
          </div>
          <div class="path-blue path-message btcf">
            <div class="dIB vAM">Go to an offsite location with a connecting tram</div>
            <div class="dIB vAM">
              <div class="dIB vAM double">
                <%= render 'gpsTrain' %>
              </div>
              <div class="dIB vAM double">
                <%= render 'gpsHandicapable' %>
              </div>
            </div>
          </div>

          <button id="x-btn-confirm-map-choice" class="confirm-map-choice-btn">
            CONFIRM
          </button>
        </div>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="yellow">
          
        </a>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="green">
          
        </a>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="orange">
          
        </a>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="blue">
          
        </a>
        <div class="map-path all selected">
          <%= image_tag('map_all-01.jpg', width: '100%') %>
        </div>
        <div class="map-path yellow">
          <%= image_tag('map_yellow-01.jpg', width: '100%') %>
        </div>
        <div class="map-path green">
          <%= image_tag('map_green-01.jpg', width: '100%') %>
        </div>
        <div class="map-path orange">
          <%= image_tag('map_orange-01.jpg', width: '100%') %>
        </div>
        <div class="map-path blue">
          <%= image_tag('map_blue-01.jpg', width: '100%') %>
        </div>
        <div class="tram">
          <%= render 'gpsTram' %>
        </div>
      </div>
    </div>
  </div>
  <!-- END INTERACTIVE MAP -->


  <!-- 4. STRATEGY questions -->
  <div id="strategy-questions" class="slide" data-currentnode="5" data-nextnode="6">

    <div class="row" style="text-align: center;">
      <h3 class="main-question">Why do you choose this strategy?</h3>
      <h5 class="sub-header">Select all that apply</h5>
    </div>

    <div id="large-strategy">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <div class="row">
            <div class="large-4 medium-4 small-4 columns">
              <div class="bubble-icon-container" id="container-1">
                <%= render 'strategyStopWatch' %>
                <div class="strategy-answer" id="stopwatch-answer">
                  To get in and out of the airport as quickly as possible
                </div>
              </div>
            </div>
            <div class="large-4 medium-4 small-4 columns">
              <div class="bubble-icon-container" id="container-2">
                <%= render 'grayParking' %>
                <div class="strategy-answer" id="parking-answer">
                  To avoid paying for parking
                </div>
              </div>
              <div class="next emergency-next" id="strategy-large-temp" style="z-index: 10;">Next</div>
            </div>
            <div class="large-4 medium-4 small-4 columns">
              <div class="bubble-icon-container" id="container-3">
                <%= render 'hassle' %>
                <div class="strategy-answer" id="hassle-answer">
                  To minimize the hassle for me
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 40px;">
        <div class="large-12 medium-12 small-12 columns">
          <div class="row">
            <div class="large-3 medium-3 small-3 columns">
              <div class="bubble-icon-container" id="container-4">
                <%= render 'guy' %>
                <div class="strategy-answer" id="guy-answer" style="margin-top: -10px">
                  To make it convenient for my passengers
                </div>
              </div>
            </div>
            <div class="large-6 medium-6 columns">
              <div id="boxter-cntnr">
                <%= render 'boxster' %>
              </div>
            </div>
            <div class="large-3 medium-3 small-3 columns">

              <div class="bubble-icon-container" id="container-5">
                <%= render 'strategyOther' %>
                <div class="strategy-answer" id="other-strategy-answer">
                  Other (Explain)
                </div>
              </div>

              <!-- other text container -->
              <div id="strategy-other-container">
                <div id="container-positioner">
                  <div id="text-container-filler"></div>
                  <div id="text-container">
                    <div id="other-strategy-buttons">
                      <div class="row" id="slide-content" style="display: none">
                        <div class="large-3 medium-3 small-3 columns">
                          <div class="save-large" style="margin-top: 15px; text-align: center; color: white; background-color: #F25053; padding: 5%; margin-left: 25px; margin-right: 15px; font-size: 1.5vw; border-radius: 5px">
                            Save
                          </div>

                          <div class="cancel-large" style="margin-top: 15px; text-align: center; color: white; background-color: #C1C1C1; padding: 5%; margin-left: 25px; margin-right: 15px; font-size: 1.5vw; border-radius: 5px">
                            Cancel
                          </div>

                          <div id="char-count-strategy" style="text-align:center; color: #C1C1C1; font-size: 12px; margin-left: 8%"></div>
                        </div>
                        <div class="large-7 medium-7 columns">
                          <textarea class="other-strategy" placeholder="Please write here." cols="1" rows="6" maxlength="140" style="margin-top: 3%; background-color: #F0943F; color: white; postion: absolute; left: 40px; top: 20px"></textarea>
                        </div>
                        <div class="large-2 medium-2 small-2 columns"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end other text container -->

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="small-strategy">
      <div class="row">
        <div id="main-ctnr">
          <div class="medium-11 small-11 medium-centered small-centered columns">

            <div class="row" style="margin-bottom: 5%">
              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
                <div class="bubble-container-small" id="passenger">
                  <div class="check-ctnr" style="position: absolute; z-index: 5; right: 0; top: -5%">
                    <%= render 'sUnchecked'%>
                  </div>
                  <div class="row" style="padding-top: 5px">
                    <div class="small-5 small-centered columns">
                      <div class="logo-cntr" style="position: absolute; left:0">
                        <%= render 'sPassenger' %>
                      </div> 
                    </div>
                  </div>
                  <div style="position:absolute; width: 100%; margin-top: 65%; left:0;">
                     <div class="row">
                      <div class="small-11 small-centered columns">
                        <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                          To make it convienient for my passengers
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px; text-align: center">
                  <div class="bubble-container-small" id="stop-watch">
                    <div class="check-ctnr" style="position: absolute; z-index: 5; right: -5% ; top: -5%">
                      <%= render 'sUnchecked'%>
                    </div>
                    <div class="row" >
                      <div class="small-5 small-centered columns">
                        <div class="logo-cntr" style="position: absolute; left:0">
                          <%= render 'sStopWatch' %>
                        </div> 
                      </div>
                    </div>
                    <div style="position:absolute; width: 100%; margin-top: 75%; left:0;">
                      <div class="row">
                        <div class="small-11 small-centered columns">
                          <div class="strategy-answer" style="font-size: 2.6vw;">
                            To get in and out of the airport as quickly as possible
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="boxster-ctnr">
                    <%= render 'boxster' %>
                  </div>

                  <div class="next emergency-next" id="strategy-small-temp" style="display: none; z-index: 10;">Next</div>

              </div>

              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
                <div class="bubble-container-small" id="parking">
                  <div class="check-ctnr" style="position: absolute; z-index: 5; right: 0; top: -5%">
                    <%= render 'sUnchecked'%>
                  </div>
                  <div class="row">
                    <div class="small-5 small-centered columns" style="padding-top: 3px">
                      <div class="logo-cntr" style="position: absolute; left:0">
                        <%= render 'sParking' %>
                      </div> 
                    </div>
                  </div>
                  <div style="position:absolute; width: 100%; margin-top: 70%; left:0;">
                     <div class="row">
                      <div class="small-11 small-centered columns">
                        <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                          To avoid paying for parking
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
                <div class="bubble-container-small" id="hassle">
                  <div class="check-ctnr" style="position: absolute; z-index: 5; right: 0; top: -5%">
                    <%= render 'sUnchecked'%>
                  </div>
                  <div class="row">
                    <div class="small-5 small-centered columns" style="padding-top: 3px">
                      <div class="logo-cntr" style="position: absolute; left:0">
                        <%= render 'sHassle' %>
                      </div> 
                    </div>
                  </div>
                  <div style="position:absolute; width: 100%; margin-top: 70%; left:0;">
                     <div class="row">
                      <div class="small-11 small-centered columns">
                        <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                          To minimize the hassle for me
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="medium-4 small-4 columns"></div style="padding-left: 10px; padding-right: 10px">

              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
                <div class="bubble-container-small" id="s-other">
                  <div class="check-ctnr" style="position: absolute; z-index: 5; right:0; top: -5%">
                    <%= render 'sUnchecked'%>
                  </div>
                  <div class="row">
                    <div class="small-5 small-centered columns" style="padding-top: 3px">
                      <div class="logo-cntr" style="position: absolute; left:0">
                        <%= render 'sOther' %>
                      </div> 
                    </div>
                  </div>
                  <div style="position:absolute; width: 100%; margin-top: 75%; left:0;">
                     <div class="row">
                      <div class="small-11 small-centered columns">
                        <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                          Other (Explain)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div id="s-other-ctnr" style="display: none; position: absolute; z-index: 6; top: 0; margin-top: 25%; left: 8%; width: 85%; background-color: white; padding-top: 15px; border: 1px solid #C1C1C1; border-radius: 10px">
          <div class="small-3 columns">
            <div class="row">
              <div class="save" style="text-align: center; color: white; background-color: #F25053; padding: 8%; margin-left: 10px; font-size: 2.8vw; border-radius: 5px">
                Save
              </div>
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="cancel" style="text-align: center; color: white; background-color: #C1C1C1; padding: 8%; margin-left: 10px; font-size: 2.8vw; border-radius: 5px">
                Cancel
              </div>
            </div>
            <div class="row" style="text-align: center; color">
              <div id="char-count-strategy" style="color: #C1C1C1; padding:0; margin:0; font-size: 2vw; text-align: center"></div>
            </div>
          </div>
          <div class="small-9 columns">
            <textarea class="other-strategy" cols="1" rows="7" maxlength="140" style="background-color: #F0943F; color: white" placeholder="Please write here"></textarea>
          </div>

      </div>
    </div>


  </div>
  <!-- END STRATEGY QUESTIONS -->


  <!-- TODO: 5. Why do you choose to park your car? -->
  <div id="why-park-car" class="slide" data-currentnode="6" data-nextnode="13">
    <div class="row" style="text-align:center">
      <h3 class="main-question">Why do you choose to park your car?</h3>
    </div>

    <div class="hide-for-small-only">
      <div class="row" style="padding: 0 10px 0 10px; margin-top: 5%">
        <div class="large-3 medium-3 columns">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo">
              <%= render 'carParkBubble' %>
            </div>
            <div class="parking-question-font" data-car="uncolored">
              When convenient parking is available
            </div>
          </div>
        </div>
        <div class="large-3 medium-3 columns">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo">
              <%= render 'avoidTraffic' %>
            </div>
            <div class="parking-question-font" data-traffic="uncolored">
              To avoid driving in traffic
            </div>
          </div>
        </div>
        <div class="large-3 medium-3 columns">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo">
              <%= render 'peopleParkBubble' %>
            </div>
            <div class="parking-question-font" data-people="uncolored">
              To meet my passenger in the terminal
            </div>
          </div>
        </div>
        <div class="large-3 medium-3 columns" style="text-align: center">
          <div class="parking-bubble parking-bubble-other">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="parking-question-other-font" data-other="uncolored">
              <div class="other-icon" style="width: 30%; text-align: center; margin-left: auto; margin-right: auto">
                <%=render 'questionBubble'%>
              </div>
              Other (specify)
            </div>
            <div class="parking-other-text-area" style="display: none; position: relative; top: 30%; position: relative; z-index: 20">
              <textarea id="other-info" cols="1" rows="5" maxlength="140"></textarea>
            </div>
            <br>
            <div id="char-count" style="display: none; position: absolute; margin-left: 15%; text-align:center; color: #B2C4D4; font-size: 12px; width: 90%; margin-left: auto; margin-right: auto"></div>
            
            <div class="parking-ok-btn">OK</div>
        
          </div>
          <div class="next emergency-next" id="why-park" style="display:none; margin-left: 25%; position: absolute; text-align: center">Next</div>
        </div>

      </div>
    </div>

    <div class="show-for-small-only">
      <div class="row" style="padding: 0 20px 0 20px">
        <div class="small-6 columns" style="padding: 0 2% 0 3%">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -10%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo" class="bubble-logo">
              <%= render 'carParkBubble' %>
              <div style="width: "></div>
            </div>
            <div class="parking-question-font" data-state="uncolored">
              Convenient parking available
            </div>
          </div>
        </div>
        <div class="small-6 columns" style="padding: 0 3% 0 2%">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div  class="bubble-logo">
              <%= render 'avoidTraffic' %>
            </div>
            <div class="parking-question-font" data-state="uncolored">
              Convenient parking available
            </div>
          </div>
        </div>
      </div>
      <div class="row" style=" margin-top: 10%; padding: 0 20px 0 20px">
        <div class="small-6 columns" style="padding: 0 2% 0 3%">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo">
              <%= render 'peopleParkBubble' %>
            </div>
            <div class="parking-question-font" data-state="uncolored">
              Convenient parking available
            </div>
          </div>
        </div>
        <div class="small-6 columns" style="padding: 0 3% 0 2%; text-align: center">
          <div class="parking-bubble parking-bubble-other">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="parking-question-other-font" data-other="uncolored">
              Other (specify)
            </div>
            <div class="parking-other-text-area" style="display: none; position: relative; top: 30%; margin-bottom: 20px">
              <textarea id="other-info" cols="1" rows="5" maxlength="140"></textarea>
            </div>
            <br>
            <div id="char-count" style="position: absolute; margin-left: auto; margin-right: auto; text-align:center; color: #B2C4D4; font-size: 12px; width: 90%"></div>
            <div class="parking-submit">
              <div class="parking-submit-btn" style="display:none">OK</div>
            </div>
          </div>
          <div class="next emergency-next" id="why-park" style="display:none">Next</div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- END TODO: 5. Why do you choose to park your car? -->


  <!-- SPINNER QUESTIONS -->
  <!-- 6. Parking spinner -->
  <div id="parking-spinner-questions" class="slide" data-currentnode="7" data-nextnode="10">
    <div class="chance-time">
      <h1>Chance Time!</h1>
      <h3 class="main-question">
        You arrive at the parking lot and <span style="font-weight: 700">see that the parking lot is...</span>
      </h3>
    </div>

    <div class="congrats" style="display:none;">
      <h1>Congratulations!</h1>
      <h3 class="main-question">You got a parking spot!</h3>
      <div class="next emergency-next" id="spin-parking-win">
        Continue
      </div>
    </div>

    <div class="fail" style="display:none">
      <h1 style="color: white; text-align: center;">Dang!</h1>
      <h3 class="main-question">The parking lot is full.</h3>
      <div class="next emergency-next" id="spin-parking-lose">
        Continue
      </div>
    </div>

    <div class="spin-button" id="parking">
      Spin
    </div>
    
    <div class="spinner-components">
      <div class="row">
        <div class="large-7 medium-8 small-12 large-centered medium-centered small-centered columns">
          <div style="width: 100%; padding-bottom: 50%; padding-left: 2%">
            <div style="width: 100%; position: absolute; z-index: 3">
              <div class="row" style="padding: 0">
                <div class="large-4 medium-4 small-4 large-centered medium-centered small-centered columns" style="padding-left: 0">
                  <div style="width: 100%; padding-bottom: 10%;">
                    <div id="wheel-pointer" style="padding-right: 25%; padding-left: 10%">
                      <%= render 'wheelPointer' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="position: relative; z-index: 1; width: 100%; padding-top: 4%; margin: 0">
              <div class="wheel" id="num-1">
                <%= render 'parkingWheel' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-5 medium-5 small-9 columns large-centered medium-centered small-centered columns">
        <div class="trophey" style="display: none">
          <%= render 'parkingTrophy' %>
        </div>
        <div class="failed-spin" style="display: none">
          <%= render 'noParking' %>
        </div>
      </div>
    </div>

  </div>
  <!-- end parking spinner -->
  
  <!-- 7. Pickup spinner -->
  <div id="pickup-spinner-question" class="slide" data-currentnode="8" data-nextnode="14">
    <div class="chance-time">
      <h1>Chance Time!</h1>
      <h3 class="main-question">
        You're almost at the Terminal. <span style="font-weight: 700">Is your passenger there?</span>
      </h3>
    </div>

    <div class="congrats" style="display:none;">
      <h1>Nice!</h1>
      <h3 class="main-question" style="margin-top: -20px">Your passenger is at the curb!</h3>
      <div class="next spinner-continue-btn" id="spin-pickup-win" data-result="yes">
        Continue
      </div>
    </div>

    <div class="fail" style="display:none">
      <h1>Dang!</h1>
      <h3 class="main-question">Our pick-up wasn't there.</h3>
      <div class="next spinner-continue-btn" id="spin-pickup-lose" data-result="no">
        Continue
      </div>
    </div>

    <div class="spin-button" id="pickup">
      Spin
    </div>
    
    <div class="spinner-components">
      <div class="row">
        <div class="large-7 medium-8 small-12 large-centered medium-centered small-centered columns">
          <div style="width: 100%; padding-bottom: 50%; padding-left: 2%">
            <div style="width: 100%; position: absolute; z-index: 3">
              <div class="row" style="padding: 0">
                <div class="large-4 medium-4 small-4 large-centered medium-centered small-centered columns" style="padding-left: 0">
                  <div style="width: 100%; padding-bottom: 10%;">
                    <div id="wheel-pointer" style="padding-right: 25%; padding-left: 10%">
                      <%= render 'wheelPointer' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="position: relative; z-index: 1; width: 100%; padding-top: 4%; margin: 0">
              <div class="wheel" id="num-2">
                <%= render 'pickupWheel' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-5 medium-5 small-9 columns large-centered medium-centered small-centered columns">
        <div class="trophey" style="display: none">
          <%= render 'pickupTrophy' %>
        </div>
        <div class="failed-spin" style="display: none">
          <%= render 'missingPassenger' %>
        </div>
      </div>
    </div>
  </div>
  <!-- end pickup spinner -->
  <!-- END SPINNER QUESTIONS -->


  <!-- 7. TILE QUESTIONS -->
  <div class="large-12 medium-12 small-12 columns">
    <div id="tile-questions" class="slide" data-currentnode="9" data-nextnode="10">
    
      <!-- questions header -->
      <div class="show-for-landscape">
        <div class="row">
          <div class="large-9 medium-9 small-12 large-centered medium-centered small-centered columns">
            <div id="question-header-landscape">
                <h3 class="main-question" id="main-landscape">What are you doing while you wait?</h3>
                <h5 id="foot-landscape">Select all that apply</h5> 
            </div>
          </div>
        </div>
      </div>

      <div class="show-for-portrait">
        <div class="row">
          <div class="large-9 medium-9 small-12 large-centered medium-centered small-centered columns">
            <div id="question-header" style="text-align: center">
              <h3 class="main-question" id="main">What are you doing while you wait?</h3>
              <h5 id="foot" style="text-align:center">
                Select all that apply
                <div class="next emergency-next" id="tiles-large" style="">Next</div>
              </h5> 
            </div>
          </div>
        </div>
      </div>
      <!-- end questions header -->

      <!-- landscape -->
      <div class="show-for-landscape">

        <div id="large-landscape">
          <div class="row">
            <div class="large-12 medium-12 large-centered medium-centered columns">
              <div class="row">
                <div class="large-4 medium-4 small-4 columns phone" id="tally">
                  <%= render 'phone' %>
                  <div class="row" style="text-align: center; color: white">
                    On my phone
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns" id="tally">
                  <%= render 'shop' %>
                  <div class="row" style="text-align: center; color: white">
                    Shop in the terminal
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns" id="tally">
                  <%= render 'hangout' %>
                  <div class="row" style="text-align: center; color: white">
                    Hang out
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 10px;">
                <div class="large-4 medium-4 small-4 columns" id="tally">
                  <%= render 'eat' %>
                  <div class="row" style="text-align: center; color: white">
                    Eat or drink
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns" id="tally">
                  <%= render 'other' %>
                  <div class="row" style="text-align: center; color: white">
                    Other
                  </div>
                </div>
                
                <!-- text area -->
                <div class="large-4 medium-4 small-4 columns">
                  <div class="next emergency-next" id="tiles-medium">Next</div>
                  <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                      <div id="user-text-input">
                        <div class="arrow-left" style="position:absolute; z-index: 1;"></div>
                        <div class="row" style="padding-top: 15px">
                          <textarea class="purple" id="other-info-large" cols="1" rows="3" maxlength="140" placeholder="Please write here"></textarea> 
                        </div>
                        <div class="row" style="text-align: center">
                          <div class="large-6 medium-6 columns" style="padding: 0">
                            <div class="other-cancel">
                              Cancel
                            </div>
                          </div>
                          <div class="large-6 medium-6 columns" style="text-align: center">
                            <div class="other-submit">
                              Save
                            </div>
                          </div>
                          
                          <div id="char-count-large" style="text-align: center"></div>
                          
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end text area -->
              </div>
            </div>    
          </div>
        </div>
        
        <div id="small-landscape">
          <div class="row">
            <div class="small-3 medium-3 columns" id="tally">
              <%= render 'phone' %>
              <div class="row tile-title" style="text-align: center; color: white">
                On my phone
              </div>
            </div>
            <div class="small-3 medium-3 columns" id="tally">
              <%= render 'shop' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Shop in the terminal
              </div>
            </div>
            <div class="small-3 medium-3 columns" id="tally">
              <%= render 'hangout' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Hang out
              </div>
            </div>
            <div class="small-3 medium-3 columns" id="tally">
              <%= render 'eat' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Eat or drink
              </div>
            </div> 
          </div>
          <div class="row">
            <div class="small-8 medium-8 small-centered medium-centered columns">
              <div class="row" style="margin-top: 15px">
                <div class="medium-6 small-6 columns"><%= render 'smallother' %></div>
                <div class="medium-6 small-6 columns" style="padding: 6px 0 0 0">
                  <div class="small-tile-label-landscape" style="text-align: left; color: white">Other (Specify)</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-11 small-centered columns" id="other-small-textbox" style="display:none; bottom: 200px ">
              <div id="other-text-area">
                <div class="row">
                  <div class="small-12 small-centered columns">
                    <textarea class="purple" id="other-info-small" cols="1" rows="5" maxlength="150" placeholder="Please write here." style="color: #B2C4D4"></textarea>
                      <div class="row">
                        <div class="small-7 columns">
                          <div id="char-count-small" style="font-size: 16px"></div>
                      </div>
                      <div class="small-5 columns" style="text-align: center;">
                        <div class="next emergency-next" style="color:white; background-color: #9B69CC; padding: 10px 0 10px 0; border-radius: 5px; margin-right: 5px; margin-bottom: 2px">
                          <div>Next</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-6 columns" style="height: 120px; background-color: #C39AE8"></div>
                <div class="small-6 columns" style="height: 120px; background-color: #AB75D3"></div>
              </div>
              <div class="row">
                <div class="small-6 columns" style="height: 120px; background-color: #9B69CC;">
                  <div style="position: absolute; bottom:5px; color: white">
                    Other <span style="font-size: 12px">(Specify)</span>
                  </div>
                </div>
                <div class="small-6 columns" style="height: 120px; background-color: #8B5DC0; color: white">
                  <div id="other-cancel">
                    Cancel
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="medium-4 small-4 medium-centered small-centered columns">
              <div class="next emergency-next" id="tiles-small">
                Next
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end landscape -->
      
      <!-- portrait -->
      <div class="show-for-portrait">

        <div class="row" id="tiles-small">
          <div class="medium-10 small-11 medium-centered small-centered columns">

            <div class="row">
              <div class="medium-6 small-6 columns" id="tally" style="padding: 0">
                <%= render 'phone' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  On my phone
                </div>
              </div>
              <div class="medium-6 small-6 columns" id="tally" style="padding: 0">
                <%= render 'shop' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Shop in the terminal
                </div>
              </div>
            </div>

            <div class="row" id="bottom-tile-row">
              <div class="medium-6 small-6 columns" id="tally" style="padding: 0">
                <%= render 'hangout' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Hang out
                </div>
              </div>
              <div class="medium-6 small-6 columns" id="tally" style="padding: 0">
                <%= render 'eat' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Food and drinks
                </div>
              </div>
            </div>

            <div class="row" id="small-other-row">
              <div class="medium-8 small-10 medium-centered small-centered columns">
                <div class="row" style="margin-top: 15px">
                  <div class="medium-6 small-6 columns" id="tally" style="padding: 0"><%= render 'smallother' %></div>
                  <div class="medium-6 small-6 columns" style="padding: 6px 0 0 0"><div class="small-tile-label" style="text-align: left; color: white; font-size: 12px">Other (Specify)</div></div>
                </div>
                <div class="row">
                  <div class="small-11 small-centered columns" id="other-small-textbox" style="display:none">
                    <div id="other-text-area">
                      <div class="row">
                        <div class="small-12 small-centered columns">
                          <textarea class="purple" id="other-info-small" cols="1" rows="5" maxlength="150" placeholder="Please write here." style="color: #B2C4D4"></textarea>
                          <div class="row">
                            <div class="small-7 columns">
                              <div id="char-count-small"></div>
                            </div>
                            <div class="small-5 columns" style="text-align: center">
                              <div class="other-submit" style="color: white; background-color: #8B5DC0; padding: 5px; margin-bottom: 5px; border-radius: 5px; margin-right: 5px">
                                Save
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-6 columns" style="height: 120px; background-color: #C39AE8"></div>
                      <div class="small-6 columns" style="height: 120px; background-color: #AB75D3"></div>
                    </div>
                    <div class="row">
                      <div class="small-6 columns" style="height: 120px; background-color: #9B69CC;">
                        <div style="position: absolute; bottom:5px; color: white">
                          Other <span style="font-size: 12px">(Specify)</span>
                        </div>
                      </div>
                      <div class="small-6 columns" style="height: 120px; background-color: #8B5DC0; color: white">
                        <div id="other-cancel">
                          Cancel
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    <!-- end portrait -->
    </div>
    <!-- END TILE QUESTIONS -->

    <!-- 11. TIMER QUESTIONS -->
    <div id="clock-questions" class="slide" data-currentnode="7" data-nextnode="8">
      <!-- questions header -->
      <div class="row">
        <h3 class="main-question">How long do you usually park for?</h3>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 large-centered medium-centered small-centerd columns">
          <div id="clock-container">
            <%= render 'timerquestion' %>
            <div class="next emergency-next" id="timer-question" style="display:none">Next</div>
          </div>
        </div>
      </div>
    </div>
    <!-- END TIMER QUESTIONS -->

    <!-- PAGES 8 - 13 ARE OUTSIDE OF THIS CONTAINER -->

    <!-- TODO: 15. RAIL SYSTEM QUESTIONS -->
    <div id="rail-system" class="part-1 slide" style="padding-top: 10%" data-currentnode="18" data-nextnode="19">
        <div class="stage-1">
          <div class="question-bubble">
            <div class="rail-car">
              <%= render 'railCar' %>
            </div>

            <p>
              To avoid all of this, we're trying to build an airport rail system that would make it easy for a passenger to meet you at a nearby location outside of the airport!
            </p>
          </div>

          <button id="x-btn-rail-system-next">Next</button>
        </div>

        <div class="stage-2">
          <div class="question-bubble">
            <div class="people">
              <%= render 'peopleRail' %>
            </div>

            <p>
              Would you meet your passenger at this new location outside of the airport in light of the experience you had today?
            </p>
          </div>

          <button id="x-btn-upvote" class="upvote-btn emergency-next">
            <span class="text">YES</span>
            <%= render 'thumbsUp' %>
          </button>
          <button id="x-btn-downvote" class="downvote-btn emergency-next">
            <span class="text">NO</span>
            <%= render 'thumbsDown' %>
          </button>
        </div>
    </div>
    <!-- END RAIL SYSTEM QUESTIONS -->


    <!-- 17. ICON QUESTIONS -->
    <div id="icon-questions" class="slide" data-currentnode="19" data-nextnode="20">
      <div class="row">
        <h3 class="main-question">Imagine that you could customize this future location.</h3>
      </div>
      <div class="row" id="icons-large-screen" style="margin-top: 90px;">
        <div class="large-6 medium-6 small-6 columns">
          <div id="drop-box">
            <div id="title">Pick your top 3 desired amenities</div>
            <div id="dotted-circle-row">
              <div id="circle-1">
                <div class="icon-holder" id="1" style="position:absolute; left: 115px; top: 138px">1</div>
              </div>
              <div id="circle-2">
                <div class="icon-holder" id="2" style="position:absolute; left: 205px; top: 138px">2</div>
              </div>
              <div id="circle-3">
                <div class="icon-holder" id="3" style="position:absolute; left: 296px; top: 138px">3</div>
              </div>
            </div>
            <div id="icon-place-holder-row">
              <div id="holder-1"></div>
              <div id="holder-2"></div>
              <div id="holder-3"></div>
            </div>
            <div class="submit-row" style="display: none">
              <div id="icon-submit" class="emergency-next">Next</div>
            </div>
          </div>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <div id="icon-box">
            <div class="icon" id="dog">
              <%= render 'dog' %>
              <div style="display:none">A dog run/relief area</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="couch">
              <%= render 'couch' %>
              <div style="display:none">A comfortable place to wait for my passenger</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="family">
              <%= render 'family' %>
              <div style="display:none">A childrens Play Area</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="computer">
              <%= render 'computer' %>
              <div style="display:none">A way to make sure I know my passenger's flight status</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="food">
              <%= render 'food' %>
              <div style="display:none">A place to get food or coffee</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="wifi">
              <%= render 'wifi' %>
              <div style="display:none">Wifi</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="parking">
              <%= render 'parking' %>
              <div style="display:none">Free short-term parking</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="exit">
              <%= render 'exit' %>
              <div style="display:none">Easy ways to get in and out of the location</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="help-desk">
              <%= render 'helpdesk' %>
              <div style="display:none">Passenger Assistance</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
          </div>
          <div id="icon-pop-up" style="display: none">
            <div class="i-want">I want...</div>
            <div id="icon-description"></div>
            <div id="choice-row">
              <div id="yea">
                <%= render 'yea' %>
              </div>
              <div id="nah">
                <%= render 'nah' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="icons-small-screen">
          <div id="holder-and-description-row">
            <div id="dotted-circle-row">
              <div id="icon-holder-description">
                  Pick your top 3 amenities
              </div>
              <div id="circle-1">
                <div id="one">1</div>
                <div id="holder-1-small"></div>
              </div>
              <div id="circle-2">
                <div id="two">2</div>
                <div id="holder-2-small"></div>
              </div>
              <div id="circle-3">
                <div id="three">3</div>
                <div id="holder-3-small"></div>
              </div>
            </div>
          </div>
    
          <div id="icon-box-small">
            <div class="icon" id="dog">
              <%= render 'dog' %>
              <div style="display:none;">Dog run/relief area</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="couch">
              <%= render 'couch' %>
              <div style="display:none;">A comfortable place to wait for my passenger</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="family">
              <%= render 'family' %>
              <div style="display:none;">A childrens Play Area</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>

            </div>
            <div class="icon" id="computer">
              <%= render 'computer' %>
              <div style="display:none;">A way to make sure I know my passenger's flight status</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="food">
              <%= render 'food' %>
              <div style="display:none;">A place to get food or coffee</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="wifi">
              <%= render 'wifi' %>
              <div style="display:none;">Wifi</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="parking">
              <%= render 'parking' %>
              <div style="display:none;">Free short-term parking</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="exit">
              <%= render 'exit' %>
              <div style="display:none;">easy ways to get in and out of the location</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="help-desk">
              <%= render 'helpdesk' %>
              <div style="display:none;">Passenger Assistance</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div id="icon-pop-up-small" style="display: none">
              <div class="i-want">I want...</div>
              <div id="discription-group">
                <div id="icon-description-small"></div>
                <div id="choice-row">
                  <div id="yea-small">
                    <%= render 'yea' %>
                  </div>
                  <div id="nah-small">
                    <%= render 'nah' %>
                  </div>
                </div>
              </div>
              
              <div class="submit-row" style="display:none">
                <div id="icon-submit">Next</div>
              </div>

            </div>
          </div>

            
        </div>
      </div>
    </div>
    <!-- END ICON QUESTIONS -->


    <!-- 14. LAST QUESTION SET -->
    <div id="last-question-set" class="slide" data-currentnode="20" data-nextnode="22">
      <!-- set 1 -->
      <div id="question-set-1">
        <div class="large-8 medium-8 small-12 larger-centered medium-centered small-centered columns">
          <h3 class="main-question">What was the reason for your last trip to LAX?</h3>
        </div>

        <div class="row" style="margin-bottom: 1.5%; margin-top: 3%">
          <div class="large-5 medium-5 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1" style="padding-bottom: 20%; width: 100%; border-radius: 100px;">
              <div class="question-text" id="q1">
                Traveling on business
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1" style="padding-bottom: 16%; width: 100%; border-radius: 100px">
              <div class="question-text" id="q2">
                Traveling for leisure 
              </div>
            </div> 
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-5 medium-5 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1" style="padding-bottom: 20%; width: 100%; border-radius: 100px">
              <div class="question-text" id="q3">
                Not traveling: Picking-up passenger
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1" style="padding-bottom: 16%; width: 100%; border-radius: 100px">
              <div class="question-text" id="q4">
                Not traveling: Dropping-off passenger
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-5 medium-5 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1-other" id="other-last" style="padding-bottom: 20%; width: 100%; border-radius: 100px">
              <div class="question-text" id="q5">
                Another reason (specify)
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="last-questions-other-container" style="display: none">
        <div class="row" style="padding-top: 17px">
          <div class="large-10 medium-11 small-11 large-centered medium-centered small-centered columns">
            <textarea id="other-info-last-questions" cols="1" rows="5" maxlength="150"></textarea>
          </div> 
        </div>
        <div class="row">
          <div class="large-6 medium-6 small-4 columns" style="text-align: center">
            <div id="char-count-last-questions" style="color: #B2C4D4"></div>
          </div>
          <div class="large-6 medium-6 small-8 columns">
            <div class="row">
              <div class="large-6 medium-6 small-6 columns">
                <div id="last-other-cancel" style="text-align: center; width: 100px; padding: 10px; color: white; background-color: #B5B5B5; border-radius: 5px; cursor: pointer">Cancel</div>
              </div>
              <div class="large-6 medium-6 small-6 columns" style="text-align: center">
                <div id="last-other-save" style="text-align: center; width: 100px; padding: 10px; color: white; background-color: #E0BF42; border-radius: 5px; cursor:pointer">Save</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end set 1 -->

      <!-- set 2 -->
      <div id="question-set-2" style="display: none">
        <div class="large-8 medium-8 small-12 larger-centered medium-centered small-centered columns">
          <h3 class="main-question">About how often do you go to LAX?</h3>
        </div>

        <div class="row" style="margin-bottom: 1.5%; margin-top: 3%">
          <div class="large-6 medium-6 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 16%; width: 100%; border-radius: 100px;">
              <div class="question-text-2" id="q1-2">
                Less than once a year
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-5 medium-5 small-10 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 20%; width: 100%; border-radius: 100px">
              <div class="question-text-2" id="q2-2">
                1-2 times a year
              </div>
            </div> 
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 16%; width: 100%; border-radius: 100px">
              <div class="question-text-2" id="q3-2">
                3-6 times a year
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-5 medium-5 small-10 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 20%; width: 100%; border-radius: 100px">
              <div class="question-text-2" id="q4-2">
                6-9 times a year
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 medium-6 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 16%; width: 100%; border-radius: 100px">
              <div class="question-text-2" id="q5-2">
                More than 9 times a year
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end set 2 -->

      <!-- set 3 -->
      <div id="question-set-3" style="display: none">
        <div class="large-8 medium-8 small-12 larger-centered medium-centered small-centered columns">
          <h3 class="main-question">And finally, how old are you?</h3>
        </div>

        <div class="row" style="margin-bottom: 1.5%; margin-top: 3%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns">
            <div class="row">
              <div class="large-5 medium-5 small-5 columns question-wrapper-3 question-wrapper-3">
                <div class="q-3-text" id="q1-3">18-24</div>
              </div>
              <div class="large-2 medium-2 small-2 columns"></div>
              <div class="large-5 medium-5 small-5 columns question-wrapper-3">
                <div class="q-3-text" id="q2-3">25-34</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns">
            <div class="row">
              <div class="large-5 medium-5 small-5 columns question-wrapper-3">
                <div class="q-3-text" id="q3-3">35-44</div>
              </div>
              <div class="large-2 medium-2 small-2 columns"></div>
              <div class="large-5 medium-5 small-5 columns question-wrapper-3">
                <div class="q-3-text" id="q4-3">45-54</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns">
            <div class="row">
              <div class="large-5 medium-5 small-5 columns question-wrapper-3 question-wrapper-3">
                <div class="q-3-text" id="q5-3">55-64</div>
              </div>
              <div class="large-2 medium-2 small-2 columns"></div>
              <div class="large-5 medium-5 small-5 columns question-wrapper-3 question-wrapper-3">
                <div class="q-3-text" id="q6-3">65-74</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns">
            <div class="row">
              <div class="large-5 medium-5 small-5 large-centered medium-centered small-centered columns question-wrapper-3">
                <div class="q-3-text" id="q7-3">75 +</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="text-align: center; margin-top: 10px">
          <div class="large-3 medium-3 small-5 large-centered medium-centered small-centered columns">
            <div class="next emergency-next" id="last-question-set">
            Next
          </div>
        </div>
          
        </div>
      </div>
      <!-- end set 3 -->
    </div>
    <!-- END LAST QUESTION SET -->

    <!-- 18. WHY DO YOU THINK THIS STRATEGY WILL WORK -->
    <div id="think-strategy" class="slide" data-currentnode="21" data-nextnode="10">
      <h3 class="main-question">
        How well do you think this strategy will work?
      </h3>
      <div class="row">
        <div class="content-c">
          <button class="thought-button left-button">
            <div class="text">Works like a charm every time</div>
            <%= render 'thoughtBubble' %>
          </button>
          <button class="thought-button center-button">
            <div class="text">I might have to  circle a few times, but it will eventually work</div>
            <%= render 'thoughtBubble' %>
          </button>
          <button class="thought-button right-button">
            <div class="text">Its always bad,  but its better than parking</div>
            <%= render 'thoughtBubble' %>
          </button>

          <div class="thought-head">
            <%= render 'head' %>
          </div>

          <button id="x-btn-next-though" class="next-thought-btn emergency-next" style="display: none">
            Next
          </button>
        </div>
      </div>
    </div>
    <!-- END WHY DO YOU THINK THIS STRATEGY WILL WORK -->

    <!-- CONGRATULATIONS! -->
    <div id="congrats" class="slide" data-currentnode="22" data-nextnode="1">
      <div class="row" style="text-align: center;">
        <!-- <h3 style="color: white">Congratulations!</h3> -->
        <div class="inner-c">
          <div class="trophy-c">
            <%= render 'laxTrophy' %>
          </div>
        </div>
        <div class="inner-c">
          <h3>Congratulations!</h3>

          <h4>You are now an official LAX pick-up artist!</h4>

          <p>
            If you want to keep in touch with our progress towards the new location, please join our mailing list or visit us at
          </p>

          <a href="http://connectinglax.com" target="_blank">connectinglax.com</a>

          <button class="share-story-btn" id="x-btn-share-story">
            <span class="" style="height: 25px; width: 25px; display: inline-block; vertical-align: middle;"><%= render 'congratsStoryBubble' %></span> <span>Have a story you want to share?</span>
          </button>

          <div>
            <button class="replay-btn emergency-next" id="x-btn-replay">
              <span class="" style="display: inline-block; vertical-align: middle; height: 20px; width: 20px;">
                <%= render 'congratsReplay' %>
              </span>
              <span>Replay</span>
            </button>

            <button class="share-btn" id="x-btn-share">
              <span style="display: inline-block; vertical-align: middle; height: 20px; width: 20px;">
                <%= render 'congratsShare' %>
              </span>
              <span>Share</span>
            </button>
          </div>
        </div>

      </div>
    </div>
    <!-- END CONGRATULATIONS -->

  </div>

  <!-- 8. LATE FLIGHT -->
  <div id="late-flight" class="slide" data-currentnode="10" data-nextnode="8">
    <div class="content-c">
      <h3 class="main-question">You think your passenger's flight could be late.</h3>
      <p>How would you check for that?</p>
      
      <div class="dIB vAT button-c">
        <button class="select-btn call">
          <%= render 'call' %>
          <div class="checkmark">
            <%= render 'sUnchecked' %>
          </div>
        </button>
        <div>
          Try to Reach Passenger
        </div>
      </div>

      <div class="dIB vAT button-c">
        <button class="select-btn parking">
          <%= render 'parkingTile' %>
          <div class="checkmark">
            <%= render 'sUnchecked' %>
          </div>
        </button>
        <div>
          Park and go Inside Terminal
        </div>
      </div>

      <div class="dIB vAT button-c">
        <button class="select-btn check-phone">
          <%= render 'checkPhone' %>
          <div class="checkmark">
            <%= render 'sUnchecked' %>
          </div>
        </button>
        <div>
          Check Mobile Phone for Flight Information
        </div>
      </div>

      <div>
        <button id="x-btn-late-flight-next" class="late-flight-next-btn emergency-next">Next</button>
      </div>

    </div>
  </div>
  <!-- END LATE FLIGHT -->

  <!-- 9. AFTER PARKING QUESTIONS -->
  <div id="after-parking-questions" style="display:none">

    <h3 class="main-question">You finally arrive at the lot and the parking lot is full</h3>
    <h3 id="pole">What do you do next?</h3>

    <div class="pole">
      <%= render 'signPole' %>
    </div>


    <button class="sign" id="cntr-1">
      <div class="holder">
        <%= render 'signHolder' %>
      </div>
      <div class="inner-content blue">
        <div class="icon-c">
          <div class="arrow-c">
            <%= render 'signArrow' %>
          </div>
        </div>
        <div class="text">
          Wait until a parking spot opens up
        </div>
      </div>
    </button>

    <button class="sign" id="cntr-2">
      <div class="holder">
        <%= render 'signHolder' %>
      </div>
      <div class="inner-content indigo">
        <div class="icon-c mobile">
          <div class="arrow-c">
            <%= render 'signArrow' %>
          </div>
        </div>
        <div class="text">
          Find a spot in another parking structure
        </div>
        <div class="icon-c wide">
          <div class="arrow-c">
            <%= render 'signArrow' %>
          </div>
        </div>
      </div>
    </button>

    <button class="sign" id="cntr-3">
      <div class="holder">
        <%= render 'signHolder' %>
      </div>
      <div class="inner-content purple">
        <div class="icon-c">
          <div class="arrow-c">
            <%= render 'signArrow' %>
          </div>
        </div>
        <div class="text">
          Exit parking structure to catch your passenger at the curb
        </div>
      </div>
    </button>

    <button class="sign" id="cntr-4">
      <div class="holder">
        <%= render 'signHolder' %>
      </div>
      <div class="inner-content magenta">
        <div class="icon-c mobile">
          <div class="arrow-c">
            <%= render 'signArrow' %>
          </div>
        </div>
        <div class="text">
          Exit terminal area to wait off site until passenger is ready to be picked up
        </div>
        <div class="icon-c wide">
          <div class="arrow-c">
            <%= render 'signArrow' %>
          </div>
        </div>
      </div>
    </button>

  </div>
  <!-- END AFTER PARKING QUESTIONS -->

  <!-- 10. START TIME SPENT -->
  <div id="time-spent" style="display: none">
    <div class="content-c">
      <h3>
        You have spent
      </h3>

      <div class="timer-c">
        <div class="inner">
          <div class="timer-number">5</div>
          <div>Minutes</div>
        </div>
      </div>

      <h3>
        looking for parking
      </h3>
    </div>

    <div class="content-c">

      <h1>
        What now?
      </h1>

      <div class="buttons-c">
       <button id="x-btn-give-up" class="give-up-btn">Give Up</button>
       <button id="x-btn-keep-looking" class="keep-looking-btn">Keep Looking</button> 
      </div>

      <div class="parking-result"></div>
    </div>
  </div>
  <!-- END TIME SPENT -->

  <!-- 12. SUCCESSFUL PICKUP -->
  <div id="successful-pickup" class="slide" data-currentnode="14" data-nextnode="18">
    <div class="sun-bg">
      <%= render 'sunBeamBg' %>
    </div>
    <div class="content">
      <h3>
        You successfully picked up your passenger!
      </h3>

      <div class="high-five">
        <%= render 'highFive' %>
      </div>

      <p>
        Now we're going to make some guesses about your typical trip to LAX based on your game experience
      </p>

      <button class="red-car">
        <%= render 'redCar' %>
      </button>
    </div>
  </div>
  <!-- END SUCCESFUL PICKUP -->


  <!-- 13. CIRCLE PICKUP QUESTIONS -->
  <div id="circle-pickup" class="slide" data-currentnode="12" data-nextnode="13">
    <div class="content">
      <h3>
        How many times do you typically circle around the terminal when picking up your passenger?
      </h3>

      <div class="content-c">
        <div class="count-c">
          <div class="circle-number">3</div>
          <div>times</div>
        </div>
        <div class="red-circle">
          <div class="circle-car">
            <%= render 'blueCircleCar' %>
          </div>
          <div class="outer-container">
            <div class="inner-circle">
            </div>
          </div>
        </div>
      </div>

      <div class="content-c buttons-c">
        <div>
           <button id="x-btn-circle-less" class="counter-btn">-1</button>
           <button id="x-btn-circle-more" class="counter-btn">+1</button> 
        </div>
        <div id>
          <button id="x-btn-circle-next" class="next emergency-next">Next</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END CIRCLE PICKUP QUESTIONS -->

  <!-- 14. TIMER PICKUP QUESTIONS -->
  <div id="timer-pickup" class="slide" data-currentnode="13" data-nextnode="14">
    <div class="content">
      <h3 class="main-question">
        How long does it typically take for you to pick up your passenger at the terminal?
      </h3>

      <div class="content-c">
        <div class="timer-c">
          <div class="timer-number" id="min">0</div>
          <div>min</div>
        </div>
      </div>

      <div class="content-c buttons-c">
        <div>
           <button id="x-btn-timer-less" class="counter-btn">-</button>
           <button id="x-btn-timer-more" class="counter-btn">+</button> 
        </div>
        <div>
          <button id="x-btn-timer-next" class="next emergency-next">Next</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END TIMER PICKUP QUESTIONS -->

  <!-- 15. WILLING TO WAIT -->
  <div id="willing-to-wait" class="slide" data-currentnode="17" data-nextnode="14">
    <div class="content-c">
      <div class="timer-c">
        <div class="inner">
          <div class="timer-number" id="wait">5</div>
          <div>Mins</div>
        </div>
      </div>
      <h3>
        What is the longest you are willing to wait for your passenger?
      </h3>
    </div>

    <div class="content-c buttons-c">
      <div>
        <button id="x-btn-remove-wait-time" class="remove-wait-time-btn">-5 min</button>
        <button id="x-btn-add-wait-time" class="add-wait-time-btn">+5 min</button>
      </div>
      <div>
        <button id="x-btn-wait-next" class="next wait-next-btn emergency-next">Next</button>
      </div>
    </div>
  </div>
  <!-- END WILLING TO WAIT-->
</div>
<!-- END QUESTION FORMATS -->


<!-- CONGRATS OVERLAYS -->
<div id="share-story-overlay">
  <div class="inner">
    <div class="top-section">
      <div class="icon-c" style="height: 25px; width: 25px; display: inline-block; vertical-align: middle;"><%= render 'congratsStoryBubble' %></div>
      <div class="title-text-c">Tell us about your best or worst experience. Anything goes.</div>
      <div class="close-btn-c">
        <button id="x-btn-close-story-overlay" class="close-story-overlay-btn">x</button>
      </div>
    </div>
    <div>
      <textarea id="story-text" placeholder="Write your story here"></textarea>
    </div>
    <div>
      <button id="x-btn-submit-story" class="submit-story-btn">Send</button>
    </div>
  </div>
</div>

<div id="congrats-share-overlay">
  <div class="inner">
    <div class="top-section">
      <div class="title-text-c">
        Share your pickup skills
      </div>
      <div class="close-btn-c">
        <button id="x-btn-close-share-overlay" class="close-share-overlay-btn">x</button>
      </div>
    </div>

    <div class="share-url">
      http://dfdsfgsdfgdfgsdfg.com/asdfsdfsdf
    </div>

    <div class="share-btns-c btcf">
      <button id="x-btn-twitter-share" class="twitter-share-btn">Share on Twitter</button>
      <button id="x-btn-facebook-share" class="facebook-share-btn">Share on Facebook</button>
    </div>
  </div>
</div>
<!-- END CONGRATS OVERLAYS -->



<!-- SCENES -->

<!-- parking lot -->
<div id="parking-lot" style="display:none">
  <div id="lines" style="display:none">
    <%= render 'lines' %>
  </div>
  <div id="cars" style="display: none">
    <%= render 'cars' %>
  </div>
</div>
<!-- end parking lot -->

<!-- END SCENES -->


<!-- DASHBOARDS -->
<div id="dashboard" style="display: none">
  <div id="clock-contents">
    <div id="clock-face" data-opac="0"></div>
      <div id="clock-hand-cntr" data-rot="0">
        <div id="long-hand"></div>
      </div>
      <div id="clock">
         <%= render 'timer' %> 
      </div>
  </div>
    <div id="dash-contents">
      <div id="section-1">
        <div id="time-container">

          <span id="hr"></span><span id="hr-unit"></span><span id="min"></span><span id="min-unit"></span>

          <div id="landing-label">Spent picking up</div>
          
        </div>
        
      </div>
      <div id="section-2">
        <div class="content-size">
          <div class="row main-icn-rw">
            <div class="large-6 medium-6 small-6 columns icon-row">
              <%= render 'personicon' %>
            </div>
            <div class="large-6 medium-6 small-6 columns count-row">
              <div class="dash-count">X<span id="passenger-count">2</span></div>
            </div>
          </div>
        </div>
      </div>
      <div id="section-3">
        <div class="content-size">
          <div class="row main-icn-rw">
            <div class="large-6 medium-6 small-6 columns icon-row">
              <%= render 'briefcase' %>
            </div>
            <div class="large-6 medium-6 small-6 columns count-row">
              <div class="dash-count">X<span id="luggage-count">2</span></div>
            </div>
          </div>
        </div>
      </div>
      <div id="section-4">
        <div style="position: relative; margin-left: 15%; width: 80%">
          <div class="row" style="margin-top: 5px">
            <div id="plane-container" class="large-3 medium-3 small-3 columns" style="margin-top: 25px; padding-left: 7%">
              <%= render 'planelogo' %>
            </div>
            <div class="large-9 medium-9 small-9 columns" style="padding-top: 25px">
              <div class="row" style="font-size: 2vw">FLIGHT <span id="dash-flight-num"></span></div>
              <div class="row" style="font-size: 1.4vw"><span id="flight-status">Inbound</span> from <span id="inbound-from"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="grad-container">
      <div id="grad-4"></div>
      <div id="grad-3"></div>
      <div id="grad-2"></div>
      <div id="grad-1"></div>
    </div>
  <div id="gradient-1"></div>
  <div id="gradient-2"></div>
  <div id="gradient-3"></div>
  <div id="gradient-4" style="padding: 0"></div>

  <div id="progress-bar">
    <div id="ord"></div>
    <div id="bar-back">
      <div id="plane-bar"></div>
      <div id="filler">
        <div id="circular-plane">
          <%= render 'progressplane' %>
        </div>
      </div>
    </div>
    <div id="lax">LAX</div>
  </div>
</div>  


<div id="car-slider" style="display: none">
  <div style="height: 50px; width: 100%; background-color: #ABD9F4; margin-top: 15px">
    <div id="car-start-tag">
      LAX
    </div>
    <div id="progression-bar"></div>
    <div id="car-container">
        <%= render 'car' %>
    </div>
    <div id="car-end-tag">
      <div id="home-container">
        <%= render 'home' %>
        <div class="row" id="end">
          FINISH
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END DASHBOARDS -->


<!-- DATA PASSED FROM FRAMEWORKS -->
<div id="counter-num" data-counter-number=0></div>
<div id="plane-progress" data-plane-progress=0></div>
<div id="time" data-hours=0 data-minutes=0></div>
<div id="car-scenario" data-ratio-num=6></div>
<!-- END DATA PASSED FROM FRAMEWORKS -->



