<div id="toggle-questions" style="position: absolute; z-index: 35; font-size: 10px; width: 50px; height: 30px; padding: 5px 5px 10px 0 ">TOGGLE</div>

<div id="skip-button">
  <%= render 'skipbutton' %>
</div>

<div id="clicks" style="position: absolute; right:0; color: white"></div>
<!-- <div id="logger"></div> -->

<!-- SPLASH PAGE -->
<div id="splash-page" style="display:none;">
  <div class="row" style="text-align: center; margin-top: 5%">
    <h2 style="color: white">Are you an LAX <span style="font-weight: 700">Pick Up Artist?</span></h2>
    <div style="font-size: 25px; color:white; padding: 15px; background-color: #F05759; width: 30%; margin-left: auto; margin-right: auto; margin-top: 5%;">Start</div>
  </div>
  <div style="position: absolute; bottom: -20%; left: -3%; width: 105%;">
    <%= render 'splashPage' %>
  </div>
</div>
<!-- END SPLASH PAGE -->

<!-- QUESTION FORMATS -->
<div class="row">
  <!-- 1. DISTANCE questions -->
    <div id="distance-questions" style="display: none">
      <div id="distance-bg" style="position: absolute; z-index: -2; width: 100%; height: 100%; top:0; background-color: #85D3EE"></div>
      <div class="row">
         <div id="distance-question-header" style="color: white; text-align:center">How far away do you live from LAX?</div>
      </div>
     
      <div class="row" id="row-1">
        5+ hours away
      </div>
      <div class="row" id="row-2">
        2-5 hours away
      </div>
      <div class="row" id="row-3">
        1-2 hours away      
      </div>
      <div class="row" id="row-4">
        30-60 minutes away 
      </div>
      <div class="row" id="row-5">
        < 30 minutes away
      </div>
      <div class="row" id="row-6">
        <div id="confirm-btn"><b>Confirm</b></div>
        <%= render 'tower' %>
        <%= render 'laxArch' %>
      </div>
      
      <div id="arrow-contents">
        <%= render 'distanceArrow' %>
        <div class="grayed-circle" id="circle-1"></div>
        <div class="grayed-circle" id="circle-2"></div>
        <div class="grayed-circle" id="circle-3"></div>
        <div class="grayed-circle" id="circle-4"></div>
        <div class="grayed-circle" id="circle-5"></div>
        <%= render 'house' %>
        <%= render 'arrowPlane'%>
      </div>
  </div>
  <!-- END DISTANCE QUESTIONS -->


  <!-- 2. MISSION INTRO -->
  <div id="mission-intro" style="display: none">
    <div id="envelope">
      <%= render 'envelope' %>
    </div>
    <div class="content">
      <header class="mission-heading">
        <h4>Your Mission</h4>
        <p>
          You are driving and need to pick up the following at LAX
        </p>
      </header>
      <header class="mission-conditions-heading">
        <h4>Airport Conditions</h4>
        <p>
          Your passengers are coming from
        </p>
      </header>

      <div id="mission-selection-box">
        <div class="top-content stage-1">
          <div class="chat-bubble">
            Select a passenger to pick up
          </div>

          <div id="mission-carousel">
            <a href="javascript:void(0)" class="nav-left" data-direction="right">
              
            </a>
            <a href="javascript:void(0)" class="nav-right" data-direction="left">
              
            </a>

            <div class="far-left-side mover">
              <%= render 'greyguy' %>
              <div class="blurb">
                <span>Something</span>
              </div>
            </div>

            <div class="left-side mover">
              <%= render 'greyguy' %>
              <div class="blurb">
                <span>Something</span>
              </div>
            </div>
            
            <div class="center mover">
              <%= render 'suitguy' %>
              <div class="blurb">
                <span class="number">1</span> <span>Clients</span>
              </div>
            </div>

            <div class="right-side mover">
              <%= render 'greyguy' %>
              <div class="blurb">
                <span>Something</span>
              </div>
            </div>
          </div>

          <div id="bottom-info">
            <span>with</span> <span class="number">2</span> <span>Large Suitcases</span>
          </div>
        </div>
        <div class="stage-2-top">
          <div class="destinations btcf">
            <div class="left-side">
              <div class="airport-heading">
                Departing
              </div>
              <div class="airport-code">
                XXX
              </div>
              <div class="airport-name">
                airport_name
              </div>
            </div>
            <div class="center">
              <div>
                <%= render 'introplane' %>
              </div>
              <div class="flight-number">Flight xxx</div>
            </div>
            <div class="right-side">
              <div class="airport-heading">
                Arriving
              </div>
              <div class="airport-code">
                LAX
              </div>
              <div class="airport-name">
                Los Angeles
              </div>
            </div>
          </div>
          <div class="conditions">
            <div class="traffic-meter medium">
              <div class="tally-1"></div>
              <div class="tally-2"></div>
              <div class="tally-3"></div>
              <div class="tally-4"></div>
              <div class="tally-5"></div>
              <div class="tally-6"></div>
              <div class="tally-7"></div>
              <div class="tally-8"></div>
            </div>
            <div class="traffic-summary">
              LAX Traffic Level: <span class="traffic-label">Medium</span>
            </div>

            <div class="time-summary">
              <div>
                <div class="gray-bg"></div>
                <span class="blurb dIB vAM">Plan will land in</span>
                <div class="time-till-arrival">
                  <div class="number">1</div>
                  <div class="unit">hr</div>
                </div>
                <div class="stopwatch dIB vAM">
                  <%= render 'introstopwatch' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button id="accept-mission-btn" class="x-btn-accept-mission">
          <span class="accept-text">
            Accept Mission
          </span>
          <span class="continue-text">
            Let's Go!
          </span>
        </button>
      </div>
    </div>
  </div>
  <!-- END MISSION INTRO -->


  <!-- 3. INTERACTIVE MAP -->
  <div id="interactive-map" style="display: none;">
    <div class="top-half">
      <h3>What is your strategy for picking up your passenger?</h3>
    </div>

    <div class="bottom-half">
      <div style="display: inline-block; position: relative;">
        <div class="instructions">
          Choose a letter to select an approach
        </div>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn selected" data-path="yellow">
          
        </a>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="green">
          
        </a>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="orange">
          
        </a>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="blue">
          
        </a>
        <div class="map-path yellow selected">
          <%= image_tag('map_yellow.jpg', width: '100%') %>
        </div>
        <div class="map-path green">
          <%= image_tag('map_green.jpg', width: '100%') %>
        </div>
        <div class="map-path orange">
          <%= image_tag('map_orange.jpg', width: '100%') %>
        </div>
        <div class="map-path blue">
          <%= image_tag('map_blue.jpg', width: '100%') %>
        </div>
      </div>
    </div>
  </div>
  <!-- END INTERACTIVE MAP -->


  <!-- 4. STRATEGY questions -->
  <div id="strategy-questions" style="display: none">

    <div class="row" style="text-align: center;">
      <h3 style="color: white">Why do you choose this strategy?</h3>
      <h6 style="color: #24B7EA; padding-top: 0">Select all that apply</h6>
    </div>

    <div id="large-strategy">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <div class="row">
            <div class="large-4 medium-4 small-4 columns">
              <div class="bubble-icon-container" id="container-1">
                <%= render 'strategyStopWatch' %>
                <div class="strategy-answer" id="stopwatch-answer">
                  To get in and out of the airport as quickly as possible
                </div>
              </div>
            </div>
            <div class="large-4 medium-4 small-4 columns">
              <div class="bubble-icon-container" id="container-2">
                <%= render 'grayParking' %>
                <div class="strategy-answer" id="parking-answer">
                  To avoid paying for parking
                </div>
              </div>
              <div class="strategy-submit-large">Next</div>
            </div>
            <div class="large-4 medium-4 small-4 columns">
              <div class="bubble-icon-container" id="container-3">
                <%= render 'hassle' %>
                <div class="strategy-answer" id="hassle-answer">
                  To minimize the hassle for me
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 40px;">
        <div class="large-12 medium-12 small-12 columns">
          <div class="row">
            <div class="large-3 medium-3 small-3 columns">
              <div class="bubble-icon-container" id="container-4">
                <%= render 'guy' %>
                <div class="strategy-answer" id="guy-answer" style="margin-top: -10px">
                  To make it convenient for my passengers
                </div>
              </div>
            </div>
            <div class="large-6 medium-6 columns">
              <div>
                <%= render 'boxster' %>
              </div>
            </div>
            <div class="large-3 medium-3 small-3 columns">

              <div class="bubble-icon-container" id="container-5">
                <%= render 'strategyOther' %>
                <div class="strategy-answer" id="other-strategy-answer">
                  Other (Explain)
                </div>
              </div>

              <!-- other text container -->
              <div id="strategy-other-container">
                <div id="container-positioner">
                  <div id="text-container-filler"></div>
                  <div id="text-container">
                    <div id="other-strategy-buttons">
                      <div class="row" id="slide-content" style="display: none">
                        <div class="large-3 medium-3 small-3 columns">
                          <div class="save-large" style="margin-top: 15px; text-align: center; color: white; background-color: #F25053; padding: 5%; margin-left: 25px; margin-right: 15px; font-size: 1.5vw; border-radius: 5px">
                            Save
                          </div>

                          <div class="cancel-large" style="margin-top: 15px; text-align: center; color: white; background-color: #C1C1C1; padding: 5%; margin-left: 25px; margin-right: 15px; font-size: 1.5vw; border-radius: 5px">
                            Cancel
                          </div>

                          <div id="char-count-strategy" style="text-align:center; color: #C1C1C1"></div>
                          <div style="color:#C1C1C1; font-size: 8px; margin-left: 30%">Characters Left</div>
                        </div>
                        <div class="large-7 medium-7 columns">
                          <textarea class="other-strategy" placeholder="Please write here." cols="1" rows="6" maxlength="140" style="margin-top: 3%; background-color: #F0943F; color: white; postion: absolute; left: 40px; top: 20px"></textarea>
                        </div>
                        <div class="large-2 medium-2 small-2 columns"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end other text container -->

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="small-strategy">
      <div class="row">
        <div id="main-ctnr">
          <div class="medium-11 small-11 medium-centered small-centered columns">

            <div class="row" style="margin-bottom: 5%">
              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
                <div class="bubble-container-small" id="passenger">
                  <div class="check-ctnr" style="position: absolute; z-index: 5; right: 0; top: -5%">
                    <%= render 'sUnchecked'%>
                  </div>
                  <div class="row" style="padding-top: 5px">
                    <div class="small-5 small-centered columns">
                      <div class="logo-cntr" style="position: absolute; left:0">
                        <%= render 'sPassenger' %>
                      </div> 
                    </div>
                  </div>
                  <div style="position:absolute; width: 100%; margin-top: 65%; left:0;">
                     <div class="row">
                      <div class="small-11 small-centered columns">
                        <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                          To make it convienient for my passengers
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px; text-align: center">
                  <div class="bubble-container-small" id="stop-watch">
                    <div class="check-ctnr" style="position: absolute; z-index: 5; right: -5% ; top: -5%">
                      <%= render 'sUnchecked'%>
                    </div>
                    <div class="row" >
                      <div class="small-5 small-centered columns">
                        <div class="logo-cntr" style="position: absolute; left:0">
                          <%= render 'sStopWatch' %>
                        </div> 
                      </div>
                    </div>
                    <div style="position:absolute; width: 100%; margin-top: 75%; left:0;">
                      <div class="row">
                        <div class="small-11 small-centered columns">
                          <div class="strategy-answer" style="font-size: 2.6vw;">
                            To get in and out of the airport as quickly as possible
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="boxster-ctnr">
                    <%= render 'boxster' %>
                  </div>

                  <div class="strategy-submit" style="display: none">Next</div>

              </div>

              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
                <div class="bubble-container-small" id="parking">
                  <div class="check-ctnr" style="position: absolute; z-index: 5; right: 0; top: -5%">
                    <%= render 'sUnchecked'%>
                  </div>
                  <div class="row">
                    <div class="small-5 small-centered columns" style="padding-top: 3px">
                      <div class="logo-cntr" style="position: absolute; left:0">
                        <%= render 'sParking' %>
                      </div> 
                    </div>
                  </div>
                  <div style="position:absolute; width: 100%; margin-top: 70%; left:0;">
                     <div class="row">
                      <div class="small-11 small-centered columns">
                        <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                          To avoid paying for parking
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
                <div class="bubble-container-small" id="hassle">
                  <div class="check-ctnr" style="position: absolute; z-index: 5; right: 0; top: -5%">
                    <%= render 'sUnchecked'%>
                  </div>
                  <div class="row">
                    <div class="small-5 small-centered columns" style="padding-top: 3px">
                      <div class="logo-cntr" style="position: absolute; left:0">
                        <%= render 'sHassle' %>
                      </div> 
                    </div>
                  </div>
                  <div style="position:absolute; width: 100%; margin-top: 70%; left:0;">
                     <div class="row">
                      <div class="small-11 small-centered columns">
                        <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                          To minimize the hassle for me
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="medium-4 small-4 columns"></div style="padding-left: 10px; padding-right: 10px">

              <div class="medium-4 small-4 columns" style="padding-left: 10px; padding-right: 10px">
                <div class="bubble-container-small" id="s-other">
                  <div class="check-ctnr" style="position: absolute; z-index: 5; right:0; top: -5%">
                    <%= render 'sUnchecked'%>
                  </div>
                  <div class="row">
                    <div class="small-5 small-centered columns" style="padding-top: 3px">
                      <div class="logo-cntr" style="position: absolute; left:0">
                        <%= render 'sOther' %>
                      </div> 
                    </div>
                  </div>
                  <div style="position:absolute; width: 100%; margin-top: 75%; left:0;">
                     <div class="row">
                      <div class="small-11 small-centered columns">
                        <div class="strategy-answer" style="font-size: 3vw; padding-left: 5px; padding-right: 5px">
                          Other (Explain)
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div id="s-other-ctnr" style="display: none; position: absolute; z-index: 6; top: 0; margin-top: 25%; left: 8%; width: 85%; background-color: white; padding-top: 15px; border: 1px solid #C1C1C1; border-radius: 10px">
          <div class="small-3 columns">
            <div class="row">
              <div class="save" style="text-align: center; color: white; background-color: #F25053; padding: 8%; margin-left: 10px; font-size: 2.8vw; border-radius: 5px">
                Save
              </div>
            </div>
            <div class="row" style="margin-top: 15px">
              <div class="cancel" style="text-align: center; color: white; background-color: #C1C1C1; padding: 8%; margin-left: 10px; font-size: 2.8vw; border-radius: 5px">
                Cancel
              </div>
            </div>
            <div class="row" style="text-align: center; color; margin-left: 5px;">
              <div id="char-count-strategy" style="color: #C1C1C1; padding:0; margin:0"></div>
              <div style="color:#C1C1C1; font-size: 2vw; padding: 0; margin:0">Characters Left</div>
            </div>
          </div>
          <div class="small-9 columns">
            <textarea class="other-strategy" cols="1" rows="7" maxlength="140" style="background-color: #F0943F; color: white" placeholder="Please write here"></textarea>
          </div>

      </div>
    </div>


  </div>
  <!-- END STRATEGY QUESTIONS -->


  <!-- TODO: 5. Why do you choose to park your car? -->
  <div id="why-park-car" style="display: none">
    <div class="row" style="text-align:center">
      <h3 style="color: white">Why do you choose to park your car?</h3>
    </div>

    <div class="hide-for-small-only">
      <div class="row" style="padding: 0 10px 0 10px; margin-top: 10%">
        <div class="large-3 medium-3 columns">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo">
              <%= render 'carParkBubble' %>
            </div>
            <div class="parking-question-font" data-car="uncolored">
              Convenient parking available
            </div>
          </div>
        </div>
        <div class="large-3 medium-3 columns">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo">
              <%= render 'avoidTraffic' %>
            </div>
            <div class="parking-question-font" data-traffic="uncolored">
              Convenient parking available
            </div>
          </div>
        </div>
        <div class="large-3 medium-3 columns">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo">
              <%= render 'peopleParkBubble' %>
            </div>
            <div class="parking-question-font" data-people="uncolored">
              Convenient parking available
            </div>
          </div>
        </div>
        <div class="large-3 medium-3 columns" style="text-align: center">
          <div id="parking-bubble-other">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="parking-question-other-font" data-other="uncolored">
              Other (specify)
            </div>
            <div class="parking-other-text-area" style="display: none; position: relative; top: 30%;">
              <textarea id="other-info" cols="1" rows="5" maxlength="140"></textarea>
            </div>
            <br>
            <div id="char-count" style="position: absolute; margin-left: 15%; text-align:center; color: #B2C4D4; font-size: 12px; width: 90%; margin-left: auto; margin-right: auto"></div>
            <div class="parking-submit">
              <div class="parking-submit-btn">OK</div>
            </div>
          </div>
          <div class="parking-next">Next</div>
        </div>
      </div>
    </div>

    <div class="show-for-small-only">
      <div class="row" style="padding: 0 20px 0 20px">
        <div class="small-6 columns" style="padding: 0 2% 0 3%">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo" class="bubble-logo">
              <%= render 'carParkBubble' %>
              <div style="width: "></div>
            </div>
            <div class="parking-question-font" data-state="uncolored">
              Convenient parking available
            </div>
          </div>
        </div>
        <div class="small-6 columns" style="padding: 0 3% 0 2%">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div  class="bubble-logo">
              <%= render 'avoidTraffic' %>
            </div>
            <div class="parking-question-font" data-state="uncolored">
              Convenient parking available
            </div>
          </div>
        </div>
      </div>
      <div class="row" style=" margin-top: 10%; padding: 0 20px 0 20px">
        <div class="small-6 columns" style="padding: 0 2% 0 3%">
          <div class="parking-bubble">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="bubble-logo">
              <%= render 'peopleParkBubble' %>
            </div>
            <div class="parking-question-font" data-state="uncolored">
              Convenient parking available
            </div>
          </div>
        </div>
        <div class="small-6 columns" style="padding: 0 3% 0 2%; text-align: center">
          <div id="parking-bubble-other">
            <div class="unchecked" style="position: absolute; right: 5px; top: -5%">
              <%= render 'unchecked' %>
            </div>
            <div class="parking-question-other-font" data-other="uncolored">
              Other (specify)
            </div>
            <div class="parking-other-text-area" style="display: none; position: relative; top: 30%; margin-bottom: 20px">
              <textarea id="other-info" cols="1" rows="5" maxlength="140"></textarea>
            </div>
            <br>
            <div id="char-count" style="position: absolute; margin-left: auto; margin-right: auto; text-align:center; color: #B2C4D4; font-size: 12px; width: 90%"></div>
            <div class="parking-submit">
              <div class="parking-submit-btn">OK</div>
            </div>
          </div>
          <div class="parking-next">Next</div>
        </div>
      </div>
    </div>
  </div>
  <!-- END TODO: 5. Why do you choose to park your car? -->


  <!-- 6. SPINNER QUESTIONS -->
  <div id="spinner-questions" style="display: none">
    <div id="chance-time">
      <h3 style="color: white; text-align: center">Chance Time!</h3>
      <h5 style="color: white; text-align: center">You arrive at the parking lot and<br>see that the parking lot is...</h5>
    </div>

    <div id="parking-congrats" style="display:none;">
      <h3 style="color: white; text-align: center">Congratulations!</h3>
      <h5 style="color: white; text-align: center">You got a parking spot</h5>
      <div id="continue-button">
        Continue
      </div>
    </div>

    <div id="try-again" style="display:none">
      <h3 style="color: white; text-align: center;">Try again?</h3>
      <div id="yup-spinner"><%= render 'yea' %></div>
      <div id="nope-spinner"><%= render 'nah' %></div>
    </div>

    <div id="spin-button">
      Spin
    </div>

    <div class="row" id="spinner-components">
      <div class="large-7 medium-8 small-12 large-centered medium-centered small-centered columns">
        <div style="width: 100%; padding-bottom: 50%; padding-left: 2%">
          <div style="width: 100%; position: absolute; z-index: 3">
            <div class="row" style="padding: 0">
              <div class="large-4 medium-4 small-4 large-centered medium-centered small-centered columns" style="padding-left: 0">
                <div style="width: 100%; padding-bottom: 10%;">
                  <div id="wheel-pointer" style="padding-right: 25%; padding-left: 10%">
                    <%= render 'wheelPointer' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="position: relative; z-index: 1; width: 100%; padding-top: 4%; margin: 0">
            <div id="wheel" style="padding: 0; margin: 0">
              <%= render 'wheel' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-5 medium-5 small-9 columns large-centered medium-centered small-centered columns">
        <div id="parking-trophy" style="display: none">
          <%= render 'parkingTrophy' %>
        </div>
      </div>
    </div>
  </div>
  <!-- END SPINNER QUESTIONS -->


  <!-- 7. TILE QUESTIONS -->
  <div class="large-12 medium-12 small-12 columns">
    <div id="tile-questions" style="display: none">
      <!-- questions header -->
      <div class="show-for-landscape">
        <div class="row">
          <div class="large-9 medium-9 small-12 large-centered medium-centered small-centered columns">
            <div id="question-header-landscape">
                <h3 id="main-landscape">What are you doing while you wait?</h3>
                <h5 id="foot-landscape">Select all that apply</h5> 
            </div>
          </div>
        </div>
      </div>

      <div class="show-for-portrait">
        <div class="row">
          <div class="large-9 medium-9 small-12 large-centered medium-centered small-centered columns">
            <div id="question-header">
                <h3 id="main">What are you doing while you wait?</h3>
                <h5 id="foot">Select all that apply</h5> 
            </div>
            <div  class="next" style="color: white; width: 100px; position: absolute; left: 38%; top: 110%; padding 10px; text-align: center; border-radius: 5px;">
                Next
            </div>
          </div>
        </div>
      </div>
      <!-- end questions header -->

      <!-- landscape -->
      <div class="show-for-landscape">

        <div id="large-landscape">
          <div class="row">
            <div class="large-12 medium-12 large-centered medium-centered columns">
              <div class="row">
                <div class="large-4 medium-4 small-4 columns phone" id="tally">
                  <%= render 'phone' %>
                  <div class="row" style="text-align: center; color: white">
                    On my phone
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns" id="tally">
                  <%= render 'shop' %>
                  <div class="row" style="text-align: center; color: white">
                    Shop in the terminal
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns" id="tally">
                  <%= render 'hangout' %>
                  <div class="row" style="text-align: center; color: white">
                    Hang out
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 10px;">
                <div class="large-4 medium-4 small-4 columns" id="tally">
                  <%= render 'eat' %>
                  <div class="row" style="text-align: center; color: white">
                    Eat or drink
                  </div>
                </div>
                <div class="large-4 medium-4 small-4 columns" id="tally">
                  <%= render 'other' %>
                  <div class="row" style="text-align: center; color: white">
                    Other
                  </div>
                </div>
                
                <!-- text area -->
                <div class="large-4 medium-4 small-4 columns">
                  <div class="next" style="width: 125px; height: 40px; margin-left: auto; margin-right: auto; margin-top: 40px;  color: white; text-align: center; padding-top: 7px; border-radius: 5px">Next</div>
                  <div class="row" style="padding:0">
                    <div class="large-12 medium-12 small-12 columns">
                      <div id="user-text-input" style="display: none">
                        <div class="arrow-left" style="position:absolute; z-index: 1;"></div>
                        <div class="row" style="text-align: center; color: #AA75D3; padding-bottom: 5px">
                          Please write here
                        </div>
                        <div class="row" style="padding-bottom:0">
                          <textarea id="other-info" cols="1" rows="2" maxlength="140" placeholder="Please write here" style="color: black"></textarea> 
                        </div>
                        <div class="row" style="text-align: center">
                          <div class="other-submit">
                            <div>Save</div>
                          </div>
                          <div id="char-count" style="text-align:center; color: #B2C4D4"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end text area -->
              </div>
            </div>    
          </div>
        </div>
        
        <div id="small-landscape">
          <div class="row">
            <div class="small-3 medium-3 columns" id="tally">
              <%= render 'phone' %>
              <div class="row tile-title" style="text-align: center; color: white">
                On my phone
              </div>
            </div>
            <div class="small-3 medium-3 columns" id="tally">
              <%= render 'shop' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Shop in the terminal
              </div>
            </div>
            <div class="small-3 medium-3 columns" id="tally">
              <%= render 'hangout' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Hang out
              </div>
            </div>
            <div class="small-3 medium-3 columns" id="tally">
              <%= render 'eat' %>
              <div class="row tile-title" style="text-align: center; color: white">
                Eat or drink
              </div>
            </div> 
          </div>
          <div class="row">
            <div class="small-8 medium-8 small-centered medium-centered columns">
              <div class="row" style="margin-top: 15px">
                <div class="medium-6 small-6 columns"><%= render 'smallother' %></div>
                <div class="medium-6 small-6 columns" style="padding: 6px 0 0 0">
                  <div class="small-tile-label-landscape" style="text-align: left; color: white">Other (Specify)</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-11 small-centered columns" id="other-small-textbox" style="display:none; bottom: 200px ">
              <div id="other-text-area">
                <div class="row">
                  <div class="small-12 small-centered columns">
                    <textarea id="other-info-small" cols="1" rows="5" maxlength="150" placeholder="Please write here." style="color: #B2C4D4"></textarea>
                    <div class="row">
                      <div class="small-7 columns"><div id="char-count-small" style="text-align:center; color: #B2C4D4"></div></div>
                      <div class="small-5 columns" style="text-align: center;">
                        <div class="next" style="color:white; background-color: #9B69CC; padding: 10px 0 10px 0; border-radius: 5px; margin-right: 5px; margin-bottom: 2px">
                          <div>Next</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-6 columns" style="height: 120px; background-color: #C39AE8"></div>
                <div class="small-6 columns" style="height: 120px; background-color: #AB75D3"></div>
              </div>
              <div class="row">
                <div class="small-6 columns" style="height: 120px; background-color: #9B69CC;">
                  <div style="position: absolute; bottom:5px; color: white">
                    Other <span style="font-size: 12px">(Specify)</span>
                  </div>
                </div>
                <div class="small-6 columns" style="height: 120px; background-color: #8B5DC0; color: white">
                  <div id="other-cancel">
                    Cancel
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="medium-4 small-4 medium-centered small-centered columns">
              <div class="next" style="width: 125px; height: 30px; margin-left: auto; margin-right: auto;  color: white; text-align: center; padding-top: 2px; border-radius: 5px">
                Next
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end landscape -->
      
      <!-- portrait -->
      <div class="show-for-portrait">

        <div class="row" id="tiles-small">
          <div class="medium-10 small-11 medium-centered small-centered columns">

            <div class="row">
              <div class="medium-6 small-6 columns" id="tally">
                <%= render 'phone' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  On my phone
                </div>
              </div>
              <div class="medium-6 small-6 columns" id="tally">
                <%= render 'shop' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Shop in the terminal
                </div>
              </div>
            </div>

            <div class="row" id="bottom-tile-row">
              <div class="medium-6 small-6 columns" id="tally">
                <%= render 'hangout' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Hang out
                </div>
              </div>
              <div class="medium-6 small-6 columns" id="tally">
                <%= render 'eat' %>
                <div class="row small-tile-label" style="text-align: center; color: white">
                  Food and drinks
                </div>
              </div>
            </div>

            <div class="row" id="small-other-row">
              <div class="medium-8 small-10 medium-centered small-centered columns">
                <div class="row" style="margin-top: 15px">
                  <div class="medium-6 small-6 columns" id="tally"><%= render 'smallother' %></div>
                  <div class="medium-6 small-6 columns" style="padding: 6px 0 0 0"><div class="small-tile-label" style="text-align: left; color: white">Other (Specify)</div></div>
                </div>
                <div class="row">
                  <div class="small-11 small-centered columns" id="other-small-textbox" style="display:none">
                    <div id="other-text-area">
                      <div class="row">
                        <div class="small-12 small-centered columns">
                          <textarea id="other-info-small" cols="1" rows="5" maxlength="150" placeholder="Please write here." style="color: #B2C4D4"></textarea>
                          <div class="row">
                            <div class="small-7 columns"><div id="char-count-small" style="text-align:center; color: #B2C4D4"></div></div>
                            <div class="small-5 columns" style="text-align: center">
                              <div class="other-submit" style="color: white; background-color: #8B5DC0; padding: 5px; margin-bottom: 5px; border-radius: 5px; margin-right: 5px">
                                Save
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-6 columns" style="height: 120px; background-color: #C39AE8"></div>
                      <div class="small-6 columns" style="height: 120px; background-color: #AB75D3"></div>
                    </div>
                    <div class="row">
                      <div class="small-6 columns" style="height: 120px; background-color: #9B69CC;">
                        <div style="position: absolute; bottom:5px; color: white">
                          Other <span style="font-size: 12px">(Specify)</span>
                        </div>
                      </div>
                      <div class="small-6 columns" style="height: 120px; background-color: #8B5DC0; color: white">
                        <div id="other-cancel">
                          Cancel
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    <!-- end portrait -->
    </div>
    <!-- END TILE QUESTIONS -->


    <!-- 8. TIMER QUESTIONS -->
    <div id="clock-questions" style="display: none">
      <!-- questions header -->
      <div class="row" style="text-align:center">
        <h3 style="color: white">How long do you usually park for?</h3>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-12 large-centered medium-centered small-centerd columns">
          <div id="clock-container">
            <%= render 'timerquestion' %>
            <div id="timer-question-submit" style="display:none">Next</div>
          </div>
        </div>
      </div>
    </div>
    <!-- END TIMER QUESTIONS -->

    <!-- PAGES 9 - 11 ARE OUTSIDE OF THIS CONTAINER -->


    <!-- TODO: 12. RAIL SYSTEM QUESTIONS -->
    <div id="rail-system" style="display: none">
      <div class="row" style="text-align: center">
        <h3 style="color: white">Rail system questions</h3>
      </div>
    </div>
    <!-- END RAIL SYSTEM QUESTIONS -->


    <!-- 13. ICON QUESTIONS -->
    <div id="icon-questions" style="display:none">
      <div class="row">
        <h3 style="color: white; text-align: center">Imagine that you could customize this future location.</h3>
      </div>
      <div class="row" id="icons-large-screen" style="margin-top: 90px;">
        <div class="large-6 medium-6 small-6 columns">
          <div id="drop-box">
            <div id="title">Pick your top 3 desired amenities</div>
            <div id="dotted-circle-row">
              <div id="circle-1">
                <div class="icon-holder" id="1" style="position:absolute; left: 115px; top: 138px">1</div>
              </div>
              <div id="circle-2">
                <div class="icon-holder" id="2" style="position:absolute; left: 205px; top: 138px">2</div>
              </div>
              <div id="circle-3">
                <div class="icon-holder" id="3" style="position:absolute; left: 296px; top: 138px">3</div>
              </div>
            </div>
            <div id="icon-place-holder-row">
              <div id="holder-1"></div>
              <div id="holder-2"></div>
              <div id="holder-3"></div>
            </div>
            <div class="submit-row" style="display: none">
              <div id="icon-submit">Submit</div>
            </div>
          </div>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <div id="icon-box">
            <div class="icon" id="dog">
              <%= render 'dog' %>
              <div style="display:none">Hi, I'm the dog icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="couch">
              <%= render 'couch' %>
              <div style="display:none">Hi, I'm the couch icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="family">
              <%= render 'family' %>
              <div style="display:none">Hi, I'm the family icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>

            </div>
            <div class="icon" id="computer">
              <%= render 'computer' %>
              <div style="display:none">Hi, I'm the computer icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="food">
              <%= render 'food' %>
              <div style="display:none">Hi, I'm the food icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="wifi">
              <%= render 'wifi' %>
              <div style="display:none">Hi, I'm the wifi icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="parking">
              <%= render 'parking' %>
              <div style="display:none">Hi, I'm the parking icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="exit">
              <%= render 'exit' %>
              <div style="display:none">Hi, I'm the exit icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="help-desk">
              <%= render 'helpdesk' %>
              <div style="display:none">Hi, I'm the help desk icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
          </div>
          <div id="icon-pop-up" style="display: none">
            <div id="icon-description"></div>
            <div id="choice-row">
              <div id="yea">
                <%= render 'yea' %>
              </div>
              <div id="nah">
                <%= render 'nah' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="icons-small-screen">
          <div id="holder-and-description-row">
            <div id="dotted-circle-row">
              <div id="icon-holder-description">
                Pick your top 3 amenities
              </div>
              <div id="circle-1">
                <div id="one">1</div>
                <div id="holder-1-small"></div>
              </div>
              <div id="circle-2">
                <div id="two">2</div>
                <div id="holder-2-small"></div>
              </div>
              <div id="circle-3">
                <div id="three">3</div>
                <div id="holder-3-small"></div>
              </div>
            </div>
          </div>
    
          <div id="icon-box-small">
            <div class="icon" id="dog">
              <%= render 'dog' %>
              <div style="display:none">Hi, I'm the dog icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="couch">
              <%= render 'couch' %>
              <div style="display:none">Hi, I'm the couch icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="family">
              <%= render 'family' %>
              <div style="display:none">Hi, I'm the family icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>

            </div>
            <div class="icon" id="computer">
              <%= render 'computer' %>
              <div style="display:none">Hi, I'm the computer icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="food">
              <%= render 'food' %>
              <div style="display:none">Hi, I'm the food icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="wifi">
              <%= render 'wifi' %>
              <div style="display:none">Hi, I'm the wifi icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="parking">
              <%= render 'parking' %>
              <div style="display:none">Hi, I'm the parking icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="exit">
              <%= render 'exit' %>
              <div style="display:none">Hi, I'm the exit icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div class="icon" id="help-desk">
              <%= render 'helpdesk' %>
              <div style="display:none">Hi, I'm the help desk icon</div>
              <div class="remove-icon" style="display: none"><%= render 'removeIcon' %></div>
            </div>
            <div id="icon-pop-up-small" style="display: none">
              <div id="discription-group">
                <div id="icon-description-small"></div>
                <div id="choice-row">
                  <div id="yea-small">
                    <%= render 'yea' %>
                  </div>
                  <div id="nah-small">
                    <%= render 'nah' %>
                  </div>
                </div>
              </div>
              
              <div class="submit-row" style="display:none">
                <div id="icon-submit">Submit</div>
              </div>

            </div>
          </div>

            
        </div>
      </div>
    </div>
    <!-- END ICON QUESTIONS -->


    <!-- 14. LAST QUESTION SET -->
    <div id="last-question-set" style="display: none">
      <!-- set 1 -->
      <div id="question-set-1">
        <div class="large-8 medium-8 small-12 larger-centered medium-centered small-centered columns">
          <h4 style="color: white; margin-top:5%; text-align: center">What was the last reason for your last trip to LAX?</h4>
        </div>

        <div class="row" style="margin-bottom: 1.5%; margin-top: 3%">
          <div class="large-5 medium-5 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1" style="padding-bottom: 20%; width: 100%; border-radius: 100px;">
              <div class="question-text" id="q1">
                Traveling on business
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1" style="padding-bottom: 16%; width: 100%; border-radius: 100px">
              <div class="question-text" id="q2">
                Traveling for leisure 
              </div>
            </div> 
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-5 medium-5 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1" style="padding-bottom: 20%; width: 100%; border-radius: 100px">
              <div class="question-text" id="q3">
                Not traveling: Picking-up passenger
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1" style="padding-bottom: 16%; width: 100%; border-radius: 100px">
              <div class="question-text" id="q4">
                Not traveling: Dropping-off passenger
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-5 medium-5 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-1-other" id="other-last" style="padding-bottom: 20%; width: 100%; border-radius: 100px">
              <div class="question-text" id="q5">
                Another reason (specify)
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="last-questions-other-container" style="display: none">
        <div class="row" style="padding-top: 17px">
          <div class="large-10 medium-11 small-11 large-centered medium-centered small-centered columns">
            <textarea id="other-info-last-questions" cols="1" rows="5" maxlength="150"></textarea>
          </div> 
        </div>
        <div class="row">
          <div class="large-6 medium-6 small-4 columns" style="text-align: center">
            <div id="char-count-last-questions" style="color: #B2C4D4"></div>
          </div>
          <div class="large-6 medium-6 small-8 columns">
            <div class="row">
              <div class="large-6 medium-6 small-6 columns">
                <div id="last-other-cancel" style="text-align: center; width: 100px; padding: 10px; color: white; background-color: #B5B5B5; border-radius: 5px; cursor: pointer">Cancel</div>
              </div>
              <div class="large-6 medium-6 small-6 columns" style="text-align: center">
                <div id="last-other-save" style="text-align: center; width: 100px; padding: 10px; color: white; background-color: #E0BF42; border-radius: 5px; cursor:pointer">Save</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end set 1 -->

      <!-- set 2 -->
      <div id="question-set-2" style="display: none">
        <div class="large-8 medium-8 small-12 larger-centered medium-centered small-centered columns">
          <h4 style="color: white; margin-top:5%; text-align: center">About how often do you go to LAX?</h4>
        </div>

        <div class="row" style="margin-bottom: 1.5%; margin-top: 3%">
          <div class="large-6 medium-6 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 16%; width: 100%; border-radius: 100px;">
              <div class="question-text-2" id="q1-2">
                Less than once a year
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-5 medium-5 small-10 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 20%; width: 100%; border-radius: 100px">
              <div class="question-text-2" id="q2-2">
                1-2 times a year
              </div>
            </div> 
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 16%; width: 100%; border-radius: 100px">
              <div class="question-text-2" id="q3-2">
                3-6 times a year
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-5 medium-5 small-10 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 20%; width: 100%; border-radius: 100px">
              <div class="question-text-2" id="q4-2">
                6-9 times a year
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 medium-6 small-9 large-centered medium-centered small-centered columns last-questions">
            <div class="question-wrapper-2" style="padding-bottom: 16%; width: 100%; border-radius: 100px">
              <div class="question-text-2" id="q5-2">
                More than 9 times a year
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end set 2 -->

      <!-- set 3 -->
      <div id="question-set-3" style="display: none">
        <div class="large-8 medium-8 small-12 larger-centered medium-centered small-centered columns">
          <h4 style="color: white; margin-top:5%; text-align: center">And finally, how old are you?</h4>
        </div>

        <div class="row" style="margin-bottom: 1.5%; margin-top: 3%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns">
            <div class="row">
              <div class="large-5 medium-5 small-5 columns question-wrapper-3 question-wrapper-3">
                <div class="q-3-text" id="q1-3">18-24</div>
              </div>
              <div class="large-2 medium-2 small-2 columns"></div>
              <div class="large-5 medium-5 small-5 columns question-wrapper-3">
                <div class="q-3-text" id="q2-3">25-34</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns">
            <div class="row">
              <div class="large-5 medium-5 small-5 columns question-wrapper-3">
                <div class="q-3-text" id="q3-3">35-44</div>
              </div>
              <div class="large-2 medium-2 small-2 columns"></div>
              <div class="large-5 medium-5 small-5 columns question-wrapper-3">
                <div class="q-3-text" id="q4-3">45-54</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 1.5%">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns">
            <div class="row">
              <div class="large-5 medium-5 small-5 columns question-wrapper-3 question-wrapper-3">
                <div class="q-3-text" id="q5-3">55-64</div>
              </div>
              <div class="large-2 medium-2 small-2 columns"></div>
              <div class="large-5 medium-5 small-5 columns question-wrapper-3 question-wrapper-3">
                <div class="q-3-text" id="q6-3">65-74</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 medium-6 small-10 large-centered medium-centered small-centered columns">
            <div class="row">
              <div class="large-5 medium-5 small-5 large-centered medium-centered small-centered columns question-wrapper-3">
                <div class="q-3-text" id="q7-3">75 +</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end set 3 -->
    </div>
    <!-- END LAST QUESTION SET -->

    <!-- CONGRATULATIONS! -->
    <div id="congrats" style="display: none">
      <div class="row" style="text-align: center">
        <!-- <h3 style="color: white">Congratulations!</h3> -->

        <div class="inner-c">
          <div class="trophy-c">
            <%= render 'laxTrophy' %>
          </div>
        </div>
        <div class="inner-c">
          <h3>Congratulations!</h3>

          <h4>You are now an official LAX pick-up artist!</h4>

          <p>
            If you want to keep in touch with our progress towards the new location, please join our mailing list or visit us at
          </p>

          <a href="http://connectinglax.com" target="_blank">connectinglax.com</a>

          <button class="share-story-btn" id="x-btn-share-story">
            <span class="" style="height: 25px; width: 25px; display: inline-block; vertical-align: middle;"><%= render 'congratsStoryBubble' %></span> <span>Have a story you want to share?</span>
          </button>

          <div>
            <button class="replay-btn" id="x-btn-replay">
              <span class="" style="display: inline-block; vertical-align: middle; height: 20px; width: 20px;">
                <%= render 'congratsReplay' %>
              </span>
              <span>Replay</span>
            </button>

            <button class="share-btn" id="x-btn-share">
              <span style="display: inline-block; vertical-align: middle; height: 20px; width: 20px;">
                <%= render 'congratsShare' %>
              </span>
              <span>Share</span>
            </button>
          </div>
        </div>

      </div>
    </div>
    <!-- END CONGRATULATIONS -->

  </div>

  <!-- AFTER PARKING QUESTIONS -->
    <div id="after-parking-questions" style="display: none;">

      <h3 class="main">You finally arrive at the lot and the parking lot is full</h3>
      <h3 class="sub">What do you do next?</h3>

      <div class="pole">
        <%= render 'signPole' %>
      </div>


      <button class="sign">
        <div class="holder">
          <%= render 'signHolder' %>
        </div>
        <div class="inner-content blue">
          <div class="icon-c">
            <div class="arrow-c">
              <%= render 'signArrow' %>
            </div>
          </div>
          <div class="text">
            Wait until a parking spot opens up
          </div>
        </div>
      </button>
      <button class="sign">
        <div class="holder">
          <%= render 'signHolder' %>
        </div>
        <div class="inner-content indigo">
          <div class="icon-c mobile">
            <div class="arrow-c">
              <%= render 'signArrow' %>
            </div>
          </div>
          <div class="text">
            Find a spot in another parking structure
          </div>
          <div class="icon-c wide">
            <div class="arrow-c">
              <%= render 'signArrow' %>
            </div>
          </div>
        </div>
      </button>
      <button class="sign">
        <div class="holder">
          <%= render 'signHolder' %>
        </div>
        <div class="inner-content purple">
          <div class="icon-c">
            <div class="arrow-c">
              <%= render 'signArrow' %>
            </div>
          </div>
          <div class="text">
            Exit parking structure to catch your passenger at the curb
          </div>
        </div>
      </button>
      <button class="sign">
        <div class="holder">
          <%= render 'signHolder' %>
        </div>
        <div class="inner-content magenta">
          <div class="icon-c mobile">
            <div class="arrow-c">
              <%= render 'signArrow' %>
            </div>
          </div>
          <div class="text">
            Exit terminal area to wait off site until passenger is ready to be picked up
          </div>
          <div class="icon-c wide">
            <div class="arrow-c">
              <%= render 'signArrow' %>
            </div>
          </div>
        </div>
      </button>
    </div>
    <!-- END AFTER PARKING QUESTIONS -->

  <!-- 9. SUCCESSFUL PICKUP -->
  <div id="successful-pickup" style="display: none;">
    <div class="sun-bg">
      <%= render 'sunBeamBg' %>
    </div>
    <div class="content">
      <h3>
        You successfully picked up your passenger!
      </h3>

      <div class="high-five">
        <%= render 'highFive' %>
      </div>

      <p>
        Now we're going to make some guesses about your typical trip to LAX based on your game experience
      </p>

      <button class="red-car">
        <%= render 'redCar' %>
      </button>
    </div>
  </div>
  <!-- END SUCCESFUL PICKUP -->


  <!-- 10. CIRCLE PICKUP QUESTIONS -->
  <div id="circle-pickup" style="display: none;">
    <div class="content">
      <h3>
        How many times do you typically circle around the terminal when picking up your passenger?
      </h3>

      <div class="content-c">
        <div class="red-circle">
          <div class="circle-car">
            <%= render 'blueCircleCar' %>
          </div>
          <div class="outer-container">
            <div class="inner-circle">
              <div class="circle-number">3</div>
              <div>times</div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-c buttons-c">
        <div>
           <button id="x-btn-circle-less" class="counter-btn">-1</button>
           <button id="x-btn-circle-more" class="counter-btn">+1</button> 
        </div>
        <div id>
          <button id="x-btn-circle-next" class="circle-next-btn">Next</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END CIRCLE PICKUP QUESTIONS -->

  <!-- 11. TIMER PICKUP QUESTIONS -->
  <div id="timer-pickup" style="display: none;">
    <div class="content">
      <h3>
        How long does it typically take for you to pick up your passenger at the terminal?
      </h3>

      <div class="content-c">
        <div class="timer-c">
          <div class="timer-number">0</div>
          <div>min</div>
        </div>
      </div>

      <div class="content-c buttons-c">
        <div>
           <button id="x-btn-timer-less" class="counter-btn">-5 min</button>
           <button id="x-btn-timer-more" class="counter-btn">+5 min</button> 
        </div>
        <div>
          <button id="x-btn-timer-next" class="timer-next-btn">Next</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END TIMER PICKUP QUESTIONS -->


</div>
<!-- END QUESTION FORMATS -->


<!-- CONGRATS OVERLAYS -->
<div id="share-story-overlay">
  <div class="inner">
    <div class="top-section">
      <div class="icon-c" style="height: 25px; width: 25px; display: inline-block; vertical-align: middle;"><%= render 'congratsStoryBubble' %></div>
      <div class="title-text-c">Tell us about your best or worst experience. Anything goes.</div>
      <div class="close-btn-c">
        <button id="x-btn-close-story-overlay" class="close-story-overlay-btn">x</button>
      </div>
    </div>
    <div>
      <textarea id="story-text" placeholder="Write your story here"></textarea>
    </div>
    <div>
      <button id="x-btn-submit-story" class="submit-story-btn">Send</button>
    </div>
  </div>
</div>

<div id="congrats-share-overlay">
  <div class="inner">
    <div class="top-section">
      <div class="title-text-c">
        Share your pickup skills
      </div>
      <div class="close-btn-c">
        <button id="x-btn-close-share-overlay" class="close-share-overlay-btn">x</button>
      </div>
    </div>

    <div class="share-url">
      http://dfdsfgsdfgdfgsdfg.com/asdfsdfsdf
    </div>

    <div class="share-btns-c btcf">
      <button id="x-btn-twitter-share" class="twitter-share-btn">Share on Twitter</button>
      <button id="x-btn-facebook-share" class="facebook-share-btn">Share on Facebook</button>
    </div>
  </div>
</div>
<!-- END CONGRATS OVERLAYS -->



<!-- SCENES -->

<!-- parking lot -->
<div id="parking-lot" style="display:none">
  <div id="lines" style="display:none">
    <%= render 'lines' %>
  </div>
  <div id="cars" style="display: none">
    <%= render 'cars' %>
  </div>
</div>
<!-- end parking lot -->

<!-- END SCENES -->


<!-- DASHBOARDS -->
<div id="dashboard" style="display: none">
    <div id="grad-container">
      <div id="grad-4">
        <div class="row">
          <div class="large-12 medium-12 small-12 columns">
            <div id="displayed-time">15</div>
            <div id="min">min</div>
            <div id="spent">spent picking up</div>
          </div>
        </div>
      </div>
      <div id="grad-3">
        <div class="row">
          <div class="large-6 medium-6 small-6 columns" style="padding-top: 20px; padding-left: 28%"><%= render 'personicon' %></div>
          <div class="large-2 medium-2 small-2 columns" style="padding-top: 40px; font-size: 30px">x</div>
          <div class="large-4 medium-4 small-4 columns" style="padding-top: 40px; padding-left: 0; padding-right: 0; font-size: 80px">2</div>
          </div>
      </div>
      <div id="grad-2">        
        <div class="row">
          <div class="large-6 medium-6 small-6 columns" style="padding-top: 20px; padding-left: 28%"><%= render 'briefcase' %></div>
          <div class="large-2 medium-2 small-2 columns" style="padding-top: 40px; font-size: 30px">x</div>
          <div class="large-4 medium-4 small-4 columns" style="padding-top: 40px; padding-left: 0; padding-right: 0; font-size: 80px">4</div>
        </div>
      </div>
      <div id="grad-1">
        <div class="row">
          <div class="large-4 medium-4 small-4 columns">
            <div id="plane-logo">
              <%= render 'planelogo' %>
            </div>
          </div>
          <div class="large-8 medium-8 small-8 columns" id="flight-num">
            FLIGHT 2077 <br>
            <div style="font-size: 18px">Inbound From ORD</div>
          </div>
        </div>
      </div>
    </div>
  <div id="gradient-1"></div>
  <div id="gradient-2"></div>
  <div id="gradient-3">
  </div>
  <div id="gradient-4" style="padding: 0">
    <div id="clock">
      <div id="hour">
        <div id="short-hand"></div>
      </div>
      <div id="minute">
        <div id="long-hand"></div>
      </div>
      <div id="cap"></div>
      <%= render 'timer' %>
    </div>
  </div>

  <div id="progress-bar">
    <div id="ord">ORD</div>
    <div id="bar-back">
      <div id="plane-bar"></div>
      <div id="filler">
        <div id="circular-plane">
          <%= render 'progressplane' %>
        </div>
      </div>
    </div>
    <div id="lax">LAX</div>
  </div>
</div>  


<div id="car-slider" style="display: none">
  <div style="height: 50px; width: 100%; background-color: #ABD9F4; margin-top: 15px">
    <div id="car-start-tag">
      LAX
    </div>
    <div id="progression-bar">
      <div id="car-container">
        <%= render 'car' %>
      </div>
    </div>
    <div id="car-end-tag">
      <div id="home-container">
        <%= render 'home' %>
      </div>
    </div>
  </div>
</div>
<!-- END DASHBOARDS -->


<!-- DATA PASSED FROM FRAMEWORKS -->
<div id="plane-progress" data-plane-progress=100></div>
<div id="timer-progress" data-timer-progress=></div>
<div id="spinner-chance" data-chance=<%= rand(2) %>></div>
<!-- END DATA PASSED FROM FRAMEWORKS -->



