<div ng-controller="NodeCtrl">
  <div ng-show="!nodeIncludedInWhitelist(getTemplateName(currentNode.node_id))"></div>
<!-- CURRENT QUESTION TITLE: {{ currentNode.question.question }} -->
  <!-- skip button -->
  <div ng-show="currentNode.skippable">
    <button class="skip plane-advance" ng-click="submit()" ng-include="'<%= asset_path 'svgs/_skipbutton.html' %>'"></button>  
  </div>
  <!-- template -->
  <div class="row" id="lawa-template"><div ng-include="currentTemplateName"></div></div>
  <!-- landing plane -->
  <div id="landing-plane" ng-include="'<%= asset_path 'svgs/_landingplane.html' %>'"></div>
  <!-- background svg container -->
  <div class="bg-animations">
    <!-- middle plane -->
    <div class="middle-plane" ng-include="'<%= asset_path 'svgs/_middleplane.html' %>'"></div>
    <!-- far plane -->
    <div class="distant-plane" ng-include="'<%= asset_path 'svgs/_farplane.html' %>'"></div>
    <!-- clouds -->
    <div class="cloud-cntr" ng-include="'<%= asset_path 'svgs/_clouds.html' %>'"></div>
    <div id="cloud-9" ng-include="'<%= asset_path 'svgs/dopaCloud.html' %>'"></div>
  </div>
  <!-- body scene changes -->
  <div class="lot" ng-show="bodyClass === 'green'">
    <div ng-include="'<%= asset_path 'svgs/greenBg.html' %>'"></div>
  </div>
  <div class="skyline" ng-show="bodyClass === 'orange'">
    <div ng-include="'<%= asset_path 'svgs/orangeBg.html' %>'"></div>
  </div>
  <!-- dashboards -->
  <div ng-show="currentNode.dashboard_type === 'plane'">
    <div ng-include="'<%= asset_path 'partials/dashboard.html' %>'"></div>
  </div>
  <div ng-show="currentNode.dashboard_type === 'car'">
    <div ng-include="'<%= asset_path 'partials/dashboard-car.html' %>'"></div>
  </div>  
  <!-- dashboard var from 0-85 -->
  <div id="plane-progress">{{ planeProgress + flightScenario }}</div>
</div>
